﻿@model Meridukan_WEBUI.Areas.Coupon.Models.CouponModel
@{
    ViewBag.Title = "AddCoupon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }

    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        /*background: rgba(0,0,0,0.6);*/
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">
                            Coupon
                        </h4>
                    </div>
                    <div class="card-body ">
                        <ul class="nav nav-pills nav-pills-rose" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" id="tab1">
                                    General
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" id="tab2">
                                    Usage Restriction
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="link1">
                                @*General Information*@
                                @Html.HiddenFor(model => model.Id)
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="bmd-label-floating">Coupon Code *</label>
                                        @Html.TextBoxFor(m => m.CouponCode, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="bmd-label-floating"> Discount Type *</label>
                                        @Html.DropDownList("DiscountTypeId", ViewBag.DiscountTypeList as SelectList, "Select Discount Type", new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="bmd-label-floating"> Coupon Amount </label>
                                        @Html.TextBoxFor(m => m.CouponAmt, new { maxlength = 10, @class = "form-control", autocomplete = "off" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="bmd-label-floating"> Expiry Date *</label>
                                        @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control datepicker", })
                                        @*<input class="form-control datepicker" id="ExpiryDate" name="ExpiryDate" type="text">*@
                                    </div>
                                    <div class="col-md-3" style="margin-top:15px;">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" id="IsShippingFree" class="shipping">
                                                <span class="toggle"></span>
                                                Is Shipping Free
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="bmd-label-floating"> Minimum spend</label>
                                        @Html.TextBoxFor(m => m.MinimumSpend, new { maxlength = 10, @class = "form-control", autocomplete = "off" })
                                    </div>
                                    <div class="col-md-3">
                                        <label class="bmd-label-floating"> Maximum Spend</label>
                                        @Html.TextBoxFor(m => m.MaximumSpend, new { maxlength = 10, @class = "form-control", autocomplete = "off" })
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-info next1 pull-right" id="btnGeneralNext" type="button">Next</button>
                                    </div>
                                </div>
                            </div>                            
                            <div class="tab-pane" id="link2">
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Products</label>
                                    <div class="col-sm-10">
                                        <div class="form-group has-success bmd-form-group">
                                            <select class="selectpicker" id="incprdmultiselect" data-style="select-with-transition" multiple title="Choose products" data-size="7">
                                                <option disabled> Multiple Options</option>
                                                @if (ViewBag.ProductList != null)
                                                {
                                                    foreach (var item in ViewBag.ProductList)
                                                    {
                                                        var text = item.ProductName + "(" + item.Barcode + ")";

                                                        <option value="@item.PrAttributeId">
                                                            @text
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Exclude Products</label>
                                    <div class="col-sm-10">
                                        <div class="form-group has-success bmd-form-group">
                                            <select class="selectpicker" id="excprdmultiselect" data-style="select-with-transition" multiple title="Choose products" data-size="7">
                                                <option disabled> Multiple Options</option>
                                                @if (ViewBag.ProductList != null)
                                                {
                                                    foreach (var item in ViewBag.ProductList)
                                                    {
                                                        var text = item.ProductName + "(" + item.Barcode + ")";

                                                        <option value="@item.PrAttributeId">
                                                            @text
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Categories</label>
                                    <div class="col-sm-10">
                                        <div class="form-group has-success bmd-form-group">
                                            <select class="selectpicker" id="inccatmultiselect" data-style="select-with-transition" multiple title="Choose Categories" data-size="7">
                                                <option disabled> Multiple Options</option>
                                                @if (ViewBag.CategoryList != null)
                                                {
                                                    foreach (var item in ViewBag.CategoryList)
                                                    {
                                                        <option value="@item.Id">
                                                            @item.Name
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Exclude Categories</label>
                                    <div class="col-sm-10">
                                        <div class="form-group has-success bmd-form-group">
                                            <select class="selectpicker" id="exccatmultiselect" data-style="select-with-transition" multiple title="Choose Categories" data-size="7">
                                                <option disabled> Multiple Options</option>
                                                @if (ViewBag.CategoryList != null)
                                                {
                                                    foreach (var item in ViewBag.CategoryList)
                                                    {
                                                        <option value="@item.Id">
                                                            @item.Name
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="overlay">
                                    <div class="cv-spinner">
                                        <span class="spinner"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-fill btn-warning cancel pull-right">Cancel</button>
                                    <button class="btn btn-info anchorDetail pull-right" id="btnSubmit" onclick="SaveHandler();" type="submit">Save Coupon</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input value="@ViewBag.UserId" type="text" name="UserId" id="UserId" hidden="hidden" />
<input value="@ViewBag.UserName" type="text" name="UserName" id="UserName" hidden="hidden" />


@section scripts
{
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <script src="../../assets/js/plugins/bootstrap-selectpicker.js"></script>

    <script>

        var jsonarr = [];
        var ImageUploadURL = $("#WebUIUrl").val() + '/Product/Product/UploadFile';

        var isshipping = false;

      if (@Model.couponIncludeProductList.Count > 0) {

            var res = new Array();

            var model = @Html.Raw(Json.Encode(Model.couponIncludeProductList));

                for (i = 0; i < model.length; i++) {
                    res.push(model[i].PrdAttributeId);
                  }

                 $("#incprdmultiselect").val(res);
            }


        if (@Model.couponExcludeProductList.Count > 0) {

            var res = new Array();

            var model = @Html.Raw(Json.Encode(Model.couponExcludeProductList));

                for (i = 0; i < model.length; i++) {
                    res.push(model[i].PrdAttributeId);
                  }

                 $("#excprdmultiselect").val(res);
              }

       if (@Model.couponIncludeCategoryList.Count > 0) {

            var res = new Array();

            var model = @Html.Raw(Json.Encode(Model.couponIncludeCategoryList));

                for (i = 0; i < model.length; i++) {
                    res.push(model[i].CategoryId);
                  }

                 $("#inccatmultiselect").val(res);
            }

           if (@Model.couponExcludeCategoryList.Count > 0) {

                var res = new Array();

                var model = @Html.Raw(Json.Encode(Model.couponExcludeCategoryList));

                    for (i = 0; i < model.length; i++) {
                        res.push(model[i].CategoryId);
                      }

                     $("#exccatmultiselect").val(res);
             }


        $(document).ready(function () {
            // initialise Datetimepicker and Sliders
            md.initFormExtendedDatetimepickers();
            if ($('.slider').length != 0) {
                md.initSliders();
            }

            $(".shipping").change(function () {
                isshipping = this.checked;
            });
        });

        // save Prouct method
        function SaveHandler() {

            debugger;
            $("#btnSubmit").attr("disabled", true);

            $("#overlay").fadeIn(300);

            var couponcode = $('#CouponCode').val();
            var discountId = $('#DiscountTypeId').val();
            var couponAmt = $('#CouponAmt').val();
            var expiry = $('#ExpiryDate').val();
            var minimumspend = $('#MinimumSpend').val();
            var maximumspend = $('#MaximumSpend').val();

            //for inclusive products
            var Accessids = "";
            var includeprd = new Array();
            $("#incprdmultiselect :selected").each(function (i, obj) {
                Accessids = Accessids + $(obj).val() + ",";

                var items = {
                    'CouponId': $('#Id').val(), 'PrdAttributeId': $(obj).val(),
                }
                includeprd.push(items);
            });
            //Accessids = Accessids.substring(0, Accessids.length - 1);
            //console.log(Accessids);

            //for exclusive products
            var excludeprd = new Array();
            $("#excprdmultiselect :selected").each(function (i, obj) {
                Accessids = Accessids + $(obj).val() + ",";

                var items = {
                    'CouponId': $('#Id').val(), 'PrdAttributeId': $(obj).val(),
                }
                excludeprd.push(items);
            });

            //for inclusive category
            var inccat = new Array();
            $("#inccatmultiselect :selected").each(function (i, obj) {
                Accessids = Accessids + $(obj).val() + ",";

                var items = {
                    'CouponId': $('#Id').val(), 'CategoryId': $(obj).val(),
                }
                inccat.push(items);
            });

            //for exclusive category
            var exccat = new Array();
            $("#exccatmultiselect :selected").each(function (i, obj) {
                Accessids = Accessids + $(obj).val() + ",";

                var items = {
                    'CouponId': $('#Id').val(), 'CategoryId': $(obj).val(),
                }
                exccat.push(items);
            });


            var Data = JSON.stringify({
                "Id": $('#Id').val(),
                "CouponCode": couponcode,
                "DiscountTypeId": discountId,
                "CouponAmt": couponAmt,
                "IsfreeShipping": isshipping,
                "ExpiryDate": expiry,
                "MinimumSpend": minimumspend,
                "MaximumSpend": maximumspend,
                "couponIncludeProductList": includeprd,
                "couponExcludeProductList": excludeprd,
                "couponIncludeCategoryList": inccat,
                "couponExcludeCategoryList": exccat,
                "UserId": $('#UserId').val(),
                "UserName": $('#UserName').val(),
            });

            var WebUIUrl = $("#WebUIUrl").val();

            $.ajax({
                type: "POST",
                url: WebUIUrl + "/Coupon/Coupon/Save",
                data: Data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                cache: false,

                success: function (data) {

                    debugger;

                    if (data > 0) {
                        var ProductURL = $("#WebUIUrl").val() + '/Coupon/Coupon/GetCouponList?userId=@ViewBag.UserId&userName=@ViewBag.UserName&Id=0';
                        return window.location.href = ProductURL;
                    }
                    else {

                    }
                },
                error: function (errorThrown) {
                    $("#btnSubmit").attr("disabled", false);
                    alert(errorThrown);
                }
            }).done(function () {
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            });
            $("#btnSubmit").attr("disabled", false);

        }

        $(".cancel").click(function () {
            var CloseURL = $("#WebUIUrl").val() + '/Coupon/Coupon/GetCouponList?userId=@ViewBag.UserId&userName=@ViewBag.UserName';
              return window.location.href = CloseURL;
        });


        $(".next1").click(function () {

            debugger;
            var Id = $("#Id").val();
            var couponcode = $("#CouponCode").val();
            var discountId = $('#DiscountTypeId').val();
            var expiry = $('#ExpiryDate').val();

            if (couponcode == "") {
                $("#CouponCode").after("<div class='validation mb-v' style='color:red;'>Coupon Code is required</div>");
                return;
            }
            else {
                $("#CouponCode").next(".validation").remove();
            }

            if (discountId == "") {
                $("#DiscountTypeId").after("<div class='validation mb-v' style='color:red;'>Discount Type is required</div>");
                return;
            }
            else {
                $("#DiscountTypeId").next(".validation").remove();
            }

            if (expiry == "") {
                $("#ExpiryDate").after("<div class='validation mb-v' style='color:red;'>Expiry Date is required</div>");
                return;
            }
            else {
                $("#ExpiryDate").next(".validation").remove();
            }

            $("#tab1").removeClass("active show");
            $("#link1").removeClass("active show");

            $("#tab2").addClass("active show");
            $("#link2").addClass("active show");

         });


        $(".next2").click(function () {

            $("#tab2").removeClass("active show");
            $("#link2").removeClass("active show");

            $("#tab4").addClass("active show");
            $("#link4").addClass("active show");

        });

    </script>

}

