﻿
@{
    ViewBag.Title = "GetCouponList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Meridukan_WEBUI.Areas.Coupon.Models.CouponModel> productList = ViewData["GetCouponList"] as List<Meridukan_WEBUI.Areas.Coupon.Models.CouponModel>;
}

<style type="text/css">
    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        /*background: rgba(0,0,0,0.6);*/
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <button class="btn btn-info anchorDetail" id="AddCopuon">Add Coupon</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Coupon List</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div id="overlay">
                        <div class="cv-spinner">
                            <span class="spinner"></span>
                        </div>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Coupon Code</th>
                                    <th>Disocount Type</th>
                                    <th>Copon Amount</th>
                                    <th>Free Shipping</th>
                                    <th>Expiry Date</th>
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in productList)
                                {
                                    var isship = "No";
                                    if (item.IsfreeShipping == true)
                                    {
                                        isship = "Yes";
                                    }
                                    <tr id="coupon-@item.Id">
                                        <td>@item.CouponCode</td>
                                        <td>@item.DiscountType</td>
                                        <td>@item.CouponAmt</td>
                                        <td>@isship</td>
                                        <td>@string.Format("{0:dd/MM/yyyy}", item.ExpiryDate) </td>
                                        <td class="text-right">
                                            <a href="javascript:void(0);" class="btn btn-link btn-warning btn-just-icon edit anchorDetail" data-id="@item.Id"><i class="material-icons">edit</i></a>
                                            <a href="javascript:void(0);" class="btn btn-link btn-danger btn-just-icon remove" data-id="@item.Id"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {

        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });

        var table = $('#datatables').DataTable();

        var EditURL = $("#WebUIUrl").val() + '/Coupon/Coupon/AddCoupon?userId=@ViewBag.UserId&userName=@ViewBag.UserName';

         $(".edit").click(function () {

                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                if (id == undefined)
                     id = 0;

                 $("#overlay").fadeIn(300);

                var options = { "backdrop": "static", keyboard: true };

                var newURL = EditURL + "&Id=" + id;

                return window.location.href = newURL;
            });
    });
    $("#AddCopuon").click(function () {
        debugger;
        var AddURL = $("#WebUIUrl").val() + '/Coupon/Coupon/AddCoupon?userId=@ViewBag.UserId&userName=@ViewBag.UserName&Id=0';

        document.location = AddURL;
    });

    $(".remove").click(function () {
        debugger;

        if (confirm("Are you sure to delete?")) {

            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };

            var DeleteProduct = {
                ProductId: id
            };


            $.ajax({
                type: "POST",
                url: $("#WebUIUrl").val() + '/Coupon/Coupon/DeleteCoupon',
                data: JSON.stringify(DeleteProduct),
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    debugger;
                    if (data == true) {
                        var row = $("#coupon-" + id);
                        $(row).closest("tr").remove();
                    }
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        }
    });

</script>


