﻿@model Meridukan_WEBUI.Areas.Purchase.Models.PrdModel
@{
    /**/

    ViewBag.Title = "ProductDetails";
    Layout = null;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body ">
                    <ul class="nav nav-pills nav-pills-rose" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                                General Information
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                                Product Attributes
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                                    Product Details
                                </a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                                Product Shipping
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                                    Product Gallary
                                </a>
                            </li>*@
                    </ul>
                    <div class="tab-content tab-space">
                        <div class="tab-pane active" id="link1">
                            @*General Information*@

                            <input id="Id" name="Id" type="hidden" value="0">

                            <div class="row">
                                <div class="col-md-4" id="catdiv">
                                    <label class="bmd-label-floating">Category *</label>
                                    @Html.DropDownList("PrdCategoryId", ViewBag.CategoryList as SelectList, "Select Category", new { @Id = "PrdCategoryId", @class = "form-control catId"})

                                </div>

                                <div class="col-md-4">
                                    <label class="bmd-label-floating">Sub Category *</label>
                                    <select id="PrdSubCategoryId" class="form-control">
                                        <option value="volvo">Select Sub Category</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="bmd-label-floating">Brand *</label>
                                    @Html.DropDownList("PrdBrandId", ViewBag.BrandList as SelectList, "Select Brand", new { @class = "form-control" })
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Product Name *</label>
                                        <input autocomplete="off" class="form-control" id="ProductName" maxlength="500" name="ProductName" type="text" value="">
                                    </div>
                                </div>

                                <div class="col-md-8 col-sm-6 col-lg-10 col-xl-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Description *</label>
                                        <textarea autocomplete="off" class="form-control" cols="20" id="ProductDescription" maxlength="5000" name="ProductDescription" rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6 col-lg-10 col-xl-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Short Description *</label>
                                        <textarea autocomplete="off" class="form-control" cols="20" id="ShortDescription" maxlength="1000" name="ShortDescription" rows="2"></textarea>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="tab-pane" id="link2">
                            @*Product Attribute*@

                            <div class="row">

                                <div class="col-md-8 col-sm-8 col-lg-8 col-xl-10">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">SKU *</label>
                                        <input type="text" class="form-control" name="required" id="ProductSKU" required="true">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">MRP *</label>
                                        <input type="text" class="form-control" name="required" id="MRP" required="true">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Discount (%) *</label>
                                        <input type="text" class="form-control" name="required" id="Discount" required="true">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Discount Price *</label>
                                        <input type="text" class="form-control" name="required" id="DiscountPrice" required="true">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Sale Price  *</label>
                                        <input type="text" class="form-control" name="required" id="SalePrice" required="true">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Sale Price Start </label>
                                        <input type="text" class="form-control datepicker" id="SaleStart">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Sale Price End </label>
                                        <input type="text" class="form-control datepicker" id="SaleEnd">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    @Html.DropDownList("prdSizeId", ViewBag.SizeList as SelectList, "Select Size", new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    @Html.DropDownList("prdColorId", ViewBag.ColorList as SelectList, "Select Color", new { @class = "form-control" })
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Maximum Order Quantity</label>
                                        <input type="text" class="form-control" name="required" id="Maxqty" required="true">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Minimum Stock Quantity</label>
                                        <input type="text" class="form-control" name="required" id="Minqty" required="true">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" id="IsPublish" checked="">
                                            <span class="toggle"></span>
                                            IsPublished
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" id="IsOrder" checked="">
                                            <span class="toggle"></span>
                                            IsAllow Order
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-8 col-xl-2">
                                    <button class="btn btn-info prdMstclick" type="button">Add</button>
                                </div>

                                <div class="col-lg-12 col-md-6 col-sm-3">
                                    <div class="material-datatables">
                                        <table id="prddatatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>SKU</th>
                                                    <th>MRP</th>
                                                    <th>Discount%</th>
                                                    <th>Discount Price</th>
                                                    <th>Sale Price </th>
                                                    <th>Sale Start</th>
                                                    <th>Sale End</th>
                                                    <th>Max Order</th>
                                                    <th>Min Stock</th>
                                                    <th>Color</th>
                                                    <th>Size</th>
                                                    <th class="disabled-sorting text-right">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>


                                </div>

                            </div>

                        </div>
                        <div class="tab-pane" id="link3">
                            <div class="col-md-8 col-sm-6 col-lg-10 col-xl-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Product Type *</label>
                                    @*<select asp-for="productType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ProductType>()"></select>*@
                                    <select class="selectpicker" data-size="7" data-style="btn btn-rose btn-round" title="Product Color Select">
                                        <option disabled selected>Choose Product</option>
                                        <option value="2">Simple Product</option>
                                        <option value="3">Variable Product</option>
                                        <option value="4">Grouped Product</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="link4">
                            <div class="col-md-6 col-sm-6 col-lg-8 col-xl-10">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Product Weight *</label>
                                    <input type="text" class="form-control" name="required" id="Weight" required="true">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                            <label class="bmd-label-floating">Product Dimantion *</label>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                            <label class="bmd-label-floating">Length in (cm)</label>
                                            <input type="text" class="form-control" name="required" id="Length">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                            <label class="bmd-label-floating">Heigt in (cm)</label>
                                            <input type="text" class="form-control" name="required" id="Height">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                            <label class="bmd-label-floating">Width in (cm)</label>
                                            <input type="text" class="form-control" name="required" id="Width">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-8 col-xl-6"></div>
                            <div class="col-md-6 col-sm-6 col-lg-8 col-xl-6">
                                <button class="btn btn-info anchorDetail" style="align-content:flex-end" id="btnPrdSubmit" onclick="ProductSaveHandler();" type="button">Save Product</button>
                            </div>

                        </div>
                        <div class="tab-pane" id="link5">
                            <div class="col-md-6 col-sm-6 col-lg-8 col-xl-10">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Prduct Images </label>
                                    <input id="UploadImg" type="file" accept="images/*" asp-for="ProductImage" style="display:none;" />
                                    <img id="imgPreview" height="160" width="240" src="~/Content/assets/img/image_placeholder.jpg" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function()
    {
        $("#PrdCategoryId").on("change", function()
        {
            debugger;
            var id = $("#PrdCategoryId").val();
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetSubcategory", "Purchase")',
                        data: { "CategoryId": id },
                        success: function (json, textStatus) {
                            debugger;
                            $("#PrdSubCategoryId").empty();
                            json = json || {};

                            $("#PrdSubCategoryId").append('<option value="0">Select Sub Category</option>');
                            for (var i = 0; i < json.length; i++) {
                                $("#PrdSubCategoryId").append('<option value="' + json[i].Id + '">' + json[i].Name + '</option>');
                            }
                            $("#PrdSubCategoryId").prop("disabled", false);
                        },
                        error: function () {
                            $("#PrdSubCategoryId").empty();
                            $("#PrdSubCategoryId").append('<option value="0">Select Sub Category</option>');
                            alert("Data Not Found");
                        }
                    });
        });

        $(document).on('click', '.prdMstclick', function () {
            debugger;

            var SKU = $("#ProductSKU").val();
            var MRP = $("#MRP").val();
            var Discount = $("#Discount").val();
            var DiscountPrice = $("#DiscountPrice").val();
            var SalePrice = $("#SalePrice").val();
            var SaleStart = $("#SaleStart").val();
            var SaleEnd = $("#SaleEnd").val();
            var Maxqty = $("#Maxqty").val();
            var Minqty = $("#Minqty").val();

            var Color = $("#prdColorId :selected").text();
            var ColorId = $("#prdColorId").val();
            var Size = $("#prdSizeId :selected").text();
            var SizeId = $("#prdSizeId").val();

            var added = false;

            var prdvalue = 0;
            prdvalue = prdvalue + 1;
            if (!added) {

                //var item = {};
                //item.brandId = brandId;
                //item.PrdId = prdvalue;
                //jsonarr.push(item);

                tr = $('<tr id="prdMst-' + prdvalue + '" />');
                tr.append("<td>" + SKU + "</td>");
                tr.append("<td>" + MRP + "</td>");
                tr.append("<td>" + Discount + "</td>");
                tr.append("<td>" + DiscountPrice + "</td>");
                tr.append("<td>" + SalePrice + "</td>");
                tr.append("<td>" + SaleStart + "</td>");
                tr.append("<td>" + SaleEnd + "</td>");
                tr.append("<td>" + Maxqty + "</td>");
                tr.append("<td>" + Minqty + "</td>");
                tr.append("<td style='display: none;'>" + SizeId + "</td>");
                tr.append("<td>" + Size + "</td>");
                tr.append("<td style='display: none;'>" + ColorId + "</td>");
                tr.append("<td>" + Color + "</td>");

                //tr.append("<td>" + StockQty + "</td>");
                tr.append("<td class='text-right'><button id='btnDelete'" + prdvalue + "' type='button' class='btn btn-link btn-danger btn-just-icon prddeletebtn' data-id='" + prdvalue + "'><span class='material-icons'>delete</span></button></td>");

                //<button id='btnEdit'" + prdvalue + "' type='button' class='btn btn - link btn - warning btn - just - icon editbtn' data-id='" + prdvalue + "'><span class='material - icons'>edit</span></button>

                $('#prddatatables tbody').append(tr);

            }
        });

        $(document).on('click', '.prddeletebtn', function () {

            debugger;
            var checkstr = confirm('Are you sure to delete this record?');
            if (checkstr == true) {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                var row = $("#prdMst-" + id);
                $(row).closest("tr").remove();

                for (var i = 0; i < jsonarr.length; i++) {
                    if (jsonarr[i].PrdId == id) {
                        var deletedItem = jsonarr.splice(i, 1);
                    }
                }
            }
            else {
                return false;
            }
        });
    });
</script>  