﻿
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Meridukan_WEBUI.Areas.Store.Models.StoreModel> storeList = ViewData["GetStoreList"] as List<Meridukan_WEBUI.Areas.Store.Models.StoreModel>;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <button class="btn btn-info anchorDetail">Add Store</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Store List</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                            </thead>                           
                            <tbody>

                                @foreach (var item in storeList)
                                {
                                    <tr id="brand-@item.Id">
                                        <td>@item.Name</td>
                                        <td>@item.Address</td>
                                        <td class="text-right">
                                            <a href="javascript:void(0);" class="btn btn-link btn-warning btn-just-icon edit anchorDetail" data-id="@item.Id"><i class="material-icons">edit</i></a>
                                            <a href="javascript:void(0);" class="btn btn-link btn-danger btn-just-icon remove" data-id="@item.Id"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts
{

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-confirm-delete.js"></script>

    <script>

        var SaveURL = $("#WebUIUrl").val() + '/Store/Store/AddOrUpdateStore';
        var DetailURL = $("#WebUIUrl").val() + '/Store/Store/StoreDetails';
        var DeleteURL = $("#WebUIUrl").val() + '/Store/Store/DeleteStore';

        $(function () {

            $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }
            });

            var table = $('#datatables').DataTable();

            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                if (id == undefined)
                    id = 0;
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: DetailURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            $(document).on('click', '#btnsave', function () {

                debugger;
                var Id = $("#Id").val();
                var Name = $("#Name").val();
                var Address = $("#Address").val();
                var Description = $("#Description").val();

                if (Name == "") {
                    $("#Name").after("<div class='validation mb-v' style='color:red;'>Store Name is required</div>");
                    return;
                }
                else {
                    //document.getElementById('branderror').innerHTML = '';
                    $("#Name").next(".validation").remove();
                }

                if (Address == "") {
                    $("#Address").after("<div class='validation mb-v' style='color:red;'>Store Location is required</div>");
                    return;
                }
                else {
                    //document.getElementById('branderror').innerHTML = '';
                    $("#Address").next(".validation").remove();
                }


                var StoreData = {
                    Id: Id,
                    Name: Name,
                    Address: Address,
                    Description: Description,
                    
                };

                $.ajax({
                    type: "POST",
                    url: SaveURL,
                    data: JSON.stringify(StoreData),
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        if (data == "True") {

                            swal({
                                title: "Saved Successfully !",
                                text: "",
                                timer: 2000,
                                showConfirmButton: false

                            }).then(function (result) {
                                window.location.reload();
                            })
                        }
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $(".remove").click(function () {
                debugger;

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };

                swal({
                    title: "Are you sure to delete?",
                    // text: "this customer have items in cart, do you want to load it ?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",

                }).then(function (isConfirm) {
                    if (isConfirm.value == true) {

                        debugger;

                        var StoreData = {
                            Id: id
                        };


                        $.ajax({
                            type: "POST",
                            url: DeleteURL,
                            data: JSON.stringify(StoreData),
                            contentType: "application/json; charset=utf-8",
                            datatype: "json",
                            success: function (data) {
                                debugger;
                                if (data == true) {
                                    var row = $("#brand-" + id);
                                    $(row).closest("tr").remove();
                                }
                            },
                            error: function () {
                                alert("Dynamic content load failed.");
                            }
                        });

                    } else {

                    }
                });
            });

        });

    </script>

}

