﻿@model Meridukan_WEBUI.Areas.GRN.Models.GRNModel
@{
    ViewBag.Title = "GRN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">
                            GRN Details
                        </h4>
                    </div>
                    <div class="card-body">

                        <form id="frmAddPO" method="post">

                            @Html.HiddenFor(model => model.GRNId)
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">GRN Number</label>
                                        @Html.TextBoxFor(m => m.GRNNo, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">GRN Date</label>
                                        @*<input type="text" class="form-control datepicker" value="07/06/2021">*@
                                        @Html.TextBoxFor(m => m.GrnDate, new { maxlength = 50, @class = "form-control datepicker", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.DropDownList("PoId", ViewBag.POList as SelectList, "Select PO", new { @class = "form-control" })
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Po Date</label>
                                        @*<input type="text" class="form-control datepicker" value="07/06/2021">*@
                                        @Html.TextBoxFor(m => m.PoDate, new { maxlength = 50, @class = "form-control datepicker", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.DropDownList("SupplierId", ViewBag.SupplierList as SelectList, "Select Suppllier", new { @class = "form-control" })
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group city">
                                        <label class="bmd-label-floating">City</label>
                                        @Html.TextBoxFor(m => m.City, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group supInvNo">
                                        <label class="bmd-label-floating">Supplier Inv Number</label>
                                        @Html.TextBoxFor(m => m.SupplierInvNo, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                        @*<input type="text" class="form-control">*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Supplier Inv Date</label>
                                        @*<input type="text" class="form-control datepicker" value="07/06/2021">*@
                                        @Html.TextBoxFor(m => m.SupplierInvDate, new { @class = "form-control datepicker", autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group supInvAmt">
                                        <label class="bmd-label-floating">Supplier Inv Amount</label>
                                        @Html.TextBoxFor(m => m.SupplierInvAmt, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                        @*<input type="text" class="form-control">*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.DropDownList("TransportId", ViewBag.TransportList as SelectList, "Select Transporter", new { @class = "form-control" })
                                        @*<input type="text" class="form-control">*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group LRNo">
                                        <label class="bmd-label-floating">LR No</label>
                                        @Html.TextBoxFor(m => m.LR_No, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                        @*<input type="text" class="form-control">*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">LR Date</label>
                                        @Html.TextBoxFor(m => m.LR_Date, new { @class = "form-control datepicker", autocomplete = "off" })
                                        @*<input type="text" class="form-control">*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group packNo">
                                        <label class="bmd-label-floating">No of Packages</label>
                                        @Html.TextBoxFor(m => m.No_of_Packages, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="clearfix"></div>
                            <h4 class="card-title">
                                <b>Add Item Details</b>
                            </h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.DropDownList("CategoryId", ViewBag.CategoryList as SelectList, "Select Category", new { @class = "form-control" })
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.DropDownList("SubCategoryId", ViewBag.SubCategoryList as SelectList, "Select SubCategory", new { @class = "form-control" })
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.DropDownList("BrandId", ViewBag.BrandList as SelectList, "Select Brand", new { @class = "form-control" })
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group prdcls">
                                        <label class="bmd-label-floating">Product</label>
                                        <input id="Selectproducts" list="Allproducts" name="ProductId" class="form-control" />
                                        <datalist id="Allproducts">
                                            @*<option label="Red" value="1"></option>
                                                <option label="Yellow" value="2"></option>
                                                <option label="Green" value="3"></option>
                                                <option label="Blue" value="4"></option>*@
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @*<label class="bmd-label-floating">Size </label>*@
                                        @Html.DropDownList("SizeId", ViewBag.SizeList as SelectList, "Select Size", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @*<label class="bmd-label-floating">Color </label>*@
                                        @Html.DropDownList("ColorId", ViewBag.ColorList as SelectList, "Select Color", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Expiry Date</label>
                                        <input type="text" class="form-control datepicker" id="ExpiryDate">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Pur. Quantity</label>
                                        <input type="text" class="form-control" id="qty" readonly value="0" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Purchase Rate</label>
                                        <input type="text" class="form-control" id="rate" readonly value="0" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Recived Quantity</label>
                                        <input type="text" class="form-control" id="Recivedqty" value="0" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Sale Rate</label>
                                        <input type="text" class="form-control" id="SaleRate" value="0" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">MRP</label>
                                        <input type="text" class="form-control" id="MRP" value="0" style="text-align:right;">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Discount</label>
                                        <input type="text" class="form-control" id="Discount" value="0" style="text-align:right;">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.DropDownList("TaxId", ViewBag.TaxList as SelectList, "Select Tax", new { @class = "form-control" })
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" id="TaxInclusive" checked="">
                                        <span class="toggle"></span>
                                        TaxInclusive
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-info prdclick" type="button">Add</button>
                                </div>
                            </div>
                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none">CategoryId</th>
                                            <th>Category</th>
                                            <th style="display:none">SubCategoryId</th>
                                            <th>Subcategory</th>
                                            <th style="display:none">BrandId</th>
                                            <th>Brand</th>
                                            <th style="display:none">ProductId</th>
                                            <th>Product</th>
                                            <th style="display:none">SizeId</th>
                                            <th>Size</th>
                                            <th style="display:none">ColorId</th>
                                            <th>Color</th>
                                            <th>Pur. Qty</th>
                                            <th>Pur. Rate</th>
                                            <th>Recieve Qty</th>
                                            <th>MRP</th>
                                            <th>Discount</th>
                                            <th>Expiry</th>
                                            <th>Sale Rate</th>
                                            <th>Total</th>
                                            <th style="display:none">TaxId</th>
                                            <th>Tax</th>
                                            <th>Tax Amount</th>
                                            <th>GranTotal</th>
                                            <th class="disabled-sorting text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var d in Model.GRNDetails)
                                        {
                                            <tr id="prd-@d.ProductId">
                                                <td style="display:none;">@d.CategoryId</td>
                                                <td>@d.CategoryName</td>
                                                <td style="display:none;">@d.SubcategoryId</td>
                                                <td>@d.SubCategoryName</td>
                                                <td style="display:none;">@d.BrandId</td>
                                                <td>@d.BrandName</td>
                                                <td style="display:none;">@d.ProductId</td>
                                                <td>@d.ProductName</td>
                                                <td style="display:none;">@d.SizeId</td>
                                                <td>@d.Size</td>
                                                <td style="display:none;">@d.ColorId</td>
                                                <td>@d.Color</td>
                                                <td>@d.PurchaseQty</td>
                                                <td>@d.PurchaseRate</td>
                                                <td>@d.RecieveQty</td>
                                                <td>@d.MRP</td>
                                                <td>@d.Discount</td>
                                                <td>@d.Expiry</td>
                                                <td>@d.SaleRate </td>
                                                <td>@d.Total</td>
                                                <td style="display:none;">@d.TaxId</td>
                                                <td> @d.TaxName </td>
                                                <td>@d.TaxAmount</td>
                                                <td>@d.GrandAmount</td>
                                                @*<td class="text-right">
                                                        <button id="btnDelete + @d.ProductId" type="button" class="btn btn-link btn-danger btn-just-icon deletebtn" data-id=" + @d.ProductId + " data-total=" + @d.Total + " data-tax=" + @d.TaxAmount + " data-grnd=" + @d.GrandTotal + ">
                                                            <span class="material-icons">delete</span>
                                                        </button>
                                                    </td>*@
                                                <td class="text-right">
                                                    <button id="btnEdit + @d.ProductId" type="button" class="btn btn-link btn-warning btn-just-icon editbtn" data-id="@d.ProductId" data-total="@d.Total" data-tax="@d.TaxAmount" data-grnd="@d.GrandAmount">
                                                        <span class="material-icons">edit</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <br /><br /><br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Total</label>
                                        @*<input type="text" class="form-control" value="0" id="total" style="text-align:right;">*@
                                        @Html.TextBoxFor(m => m.Total, new { @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tax Amount</label>
                                        @*<input type="text" class="form-control" value="0" id="taxamt" style="text-align:right;">*@
                                        @Html.TextBoxFor(m => m.TaxAmount, new { @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Grand Total</label>
                                        @*<input type="text" class="form-control" value="0" id="grandtotal" style="text-align:right;">*@
                                        @Html.TextBoxFor(m => m.GrandTotal, new { @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-fill btn-warning cancel pull-right">Cancel</button>
                            <button type="button" class="btn btn-rose pull-right" id="btnPoSubmit" onclick="SaveHandler();">Submit</button>
                            <div class="clearfix"></div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input value="@ViewBag.UserId" type="text" name="UserId" id="UserId" hidden="hidden" />
<input value="@ViewBag.UserName" type="text" name="UserName" id="UserName" hidden="hidden" />

@section scripts
{
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script>

        var jsonarr = [];

        $(document).ready(function () {
            // initialise Datetimepicker and Sliders
            md.initFormExtendedDatetimepickers();
            if ($('.slider').length != 0) {
                md.initSliders();
            }

            $('#GRNNo').addClass('disabled');

            // on edit use this sample code
            if (@Model.GRNDetails.Count > 0) {

            var model = @Html.Raw(Json.Encode(Model.GRNDetails));

            for (i = 0; i < model.length; i++) {
                var item = {};
                item.catId = model[i].CategoryId;
                item.subcatId = model[i].SubcategoryId;
                item.brandId = model[i].BrandId;
                item.PrdId = model[i].ProductId;
                item.PrdText = model[i].ProductName;
                item.SizeId = model[i].SizeId;
                item.qty = model[i].PurchaseQty;
                item.rate = model[i].PurchaseRate;
                item.recieveqty = model[i].RecieveQty;
                item.MRP = model[i].MRP;
                item.Discount = model[i].Discount;
                item.Expiry = model[i].Expiry;
                item.SaleRate = model[i].SaleRate;
                item.total = model[i].Total;
                item.taxid = model[i].TaxId;
                item.TaxName = model[i].TaxName;
                item.taxamt = model[i].TaxAmount;
                item.GrandTotal = model[i].GrandTotal;
                jsonarr.push(item);
             }
            }


             $.ajax({
                url: '@Url.Action("GetProducts", "Purchase")',
                type: "GET",
                success: function (json, textStatus) {
                    json = json || {};
                    for (var i = 0; i < json.length; i++) {
                        $("#Allproducts").append('<option value="' + json[i].Name + '" id="' + json[i].Id +'">');
                    }
                },
                error: function () {
                    alert("Data Not Found");
                }
             });


               // for Po change
             $("#PoId").change(function () {
                debugger;
                 var id = $("#PoId").val();
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetPoDetails", "GRN")',
                        data: { "PoId": id },
                        success: function (json, textStatus) {
                            debugger;
                            json = json || {};

                            $("#PoDate").val(json.Date);
                            $("#SupplierId").val(json.SupplierId);
                            $("#City").val(json.City);
                            $('.city').addClass('is-filled');
                            $("#SupplierInvNo").val(json.SupplierInvNo);
                            $('.supInvNo').addClass('is-filled');
                            $("#SupplierInvAmt").val(json.SupplierInvAmt);
                            $('.supInvAmt').addClass('is-filled');
                            $("#SupplierInvDate").val(json.SupInvDate);

                            $("#TransportDetailId").val(json.TransportDetailId);
                            $("#LR_No").val(json.LR_No);
                            $('.LRNo').addClass('is-filled');
                            $("#No_of_Packages").val(json.No_of_Packages);
                            $('.packNo').addClass('is-filled');
                            $("#LR_Date").val(json.LRDate);

                            for (var i = 0; i < json.purchaseDetails.length; i++) {

                                tr = $('<tr id="prd-' + json.purchaseDetails[i].ProductId + '" />');
                                tr.append("<td style='display:none;'>" + json.purchaseDetails[i].CategoryId + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].CategoryName + "</td>");
                                tr.append("<td style='display: none;'>" + json.purchaseDetails[i].SubcategoryId + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].SubCategoryName + "</td>");
                                tr.append("<td style='display: none;'>" + json.purchaseDetails[i].BrandId + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].BrandName + "</td>");
                                tr.append("<td style='display: none;'>" + json.purchaseDetails[i].ProductId + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].ProductName + "</td>");
                                tr.append("<td style='display: none;'>" + json.purchaseDetails[i].SizeId + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].Size + "</td>");
                                tr.append("<td style='display: none;'>" + json.purchaseDetails[i].ColorId + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].Color + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].PurchaseQty + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].PurchaseRate + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].PurchaseQty + "</td>");
                                tr.append("<td>" + 0 + "</td>");
                                tr.append("<td>" + 0 + "</td>");
                                tr.append("<td></td>");
                                tr.append("<td>" + 0 + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].Total + "</td>");
                                tr.append("<td style='display: none;'>" + json.purchaseDetails[i].TaxId + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].TaxName + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].TaxAmount + "</td>");
                                tr.append("<td>" + json.purchaseDetails[i].GrandTotal + "</td>");
                                //tr.append("<td class='text-right'><button id='btnDelete'" + json.purchaseDetails[i].ProductId + "' type='button' class='btn btn-link btn-danger btn-just-icon deletebtn' data-id='" + json.purchaseDetails[i].ProductId + "' data-total='" + json.purchaseDetails[i].Total + "' data-tax='" + json.purchaseDetails[i].TaxAmount + "' data-grnd='" + json.purchaseDetails[i].GrandTotal + "'><span class='material-icons'>delete</span></button></td>");
                                tr.append("<td class='text-right'><button id='btnEdit'" + json.purchaseDetails[i].ProductId + "' type='button' class='btn btn-link btn-warning btn-just-icon editbtn' data-id='" + json.purchaseDetails[i].ProductId + "' data-total='" + json.purchaseDetails[i].Total + "' data-tax='" + json.purchaseDetails[i].TaxAmount + "' data-grnd='" + json.purchaseDetails[i].GrandTotal + "'><span class='material-icons'>edit</span></button></td>");

                                $('#datatables tbody').append(tr);

                                var item = {};
                                item.catId = json.purchaseDetails[i].CategoryId;
                                item.subcatId = json.purchaseDetails[i].SubcategoryId;
                                item.brandId = json.purchaseDetails[i].BrandId;
                                item.PrdId = json.purchaseDetails[i].ProductId;
                                item.PrdText = json.purchaseDetails[i].ProductName;
                                item.SizeId = json.purchaseDetails[i].SizeId;
                                item.qty = json.purchaseDetails[i].PurchaseQty;
                                item.rate = json.purchaseDetails[i].PurchaseRate;
                                item.recieveqty = json.purchaseDetails[i].PurchaseQty;
                                item.MRP = json.purchaseDetails[i].MRP;
                                item.Discount = json.purchaseDetails[i].Discount;
                                item.Expiry = json.purchaseDetails[i].Expiry;
                                item.SaleRate = json.purchaseDetails[i].SaleRate;
                                item.total = json.purchaseDetails[i].Total;
                                item.taxid = json.purchaseDetails[i].TaxId;
                                item.TaxName = json.purchaseDetails[i].TaxName;
                                item.taxamt = json.purchaseDetails[i].TaxAmount;
                                item.GrandAmount = json.purchaseDetails[i].GrandTotal;
                                jsonarr.push(item);
                            }

                            $('#Total').val(json.Total.toFixed(2));
                            $('#TaxAmount').val(json.TaxAmount.toFixed(2));
                            $('#GrandTotal').val(json.GrandTotal.toFixed(2));

                        },
                        error: function () {
                            $("#SubCategoryId").empty();
                            $("#SubCategoryId").append('<option value="0">Select Sub Category</option>');
                            alert("Data Not Found");
                        }
                    });
               });

            $("#CategoryId").change(function () {
                debugger;
                var id = $("#CategoryId").val();
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetSubcategory", "Purchase")',
                        data: { "CategoryId": id },
                        success: function (json, textStatus) {
                            debugger;
                            $("#SubCategoryId").empty();
                            json = json || {};

                            $("#SubCategoryId").append('<option value="0">Select Sub Category</option>');
                            for (var i = 0; i < json.length; i++) {
                                $("#SubCategoryId").append('<option value="' + json[i].Id + '">' + json[i].Name + '</option>');
                            }
                            $("#SubCategoryId").prop("disabled", false);
                        },
                        error: function () {
                            $("#SubCategoryId").empty();
                            $("#SubCategoryId").append('<option value="0">Select Sub Category</option>');
                            alert("Data Not Found");
                        }
                    });
               });


            $("#TransportDetailId").change(function () {
                debugger;
                var id = $("#TransportDetailId").val();
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetLRNo", "Purchase")',
                        data: { "TransporterId": id },
                        success: function (json, textStatus) {
                            debugger;
                            $("#LR_No").val('');
                            $("#LR_No").val(json.LR_No);
                        },
                        error: function () {
                            $("#LR_No").val('');
                            alert("Data Not Found");
                        }
                    });
                });
        });


        $(".prdclick").click(function () {
            debugger;


            var catId = $("#CategoryId").val();
            var cat = $("#CategoryId :selected").text();

            if (catId == "") {
                //$("#CategoryId").after("<div class='validation mb-v' style='color:red;'>please select categpry</div>");
                alert("please select category");
                return;
            }
            else {
                //$("#CategoryId").after(".validation").remove();
            }

            var subcatId = $("#SubCategoryId").val();
            var subcat = $("#SubCategoryId :selected").text();

            if (subcatId == "") {
                $("#SubCategoryId").after("<div class='validation mb-v' style='color:red;'>please select Subcategpry</div>");
                return;
            }
            else {

                $("#SubCategoryId").next(".validation").remove();
            }

            var brandId = $("#BrandId").val();
            var brand = $("#BrandId :selected").text();

            if (brandId == "") {
                $("#BrandId").after("<div class='validation mb-v' style='color:red;'>please select brand</div>");
                return;
            }
            else {
                $("#BrandId").next(".validation").remove();
            }

            // get selected product
            var selectprd = document.getElementById('Selectproducts');
            var Allprd = document.getElementById('Allproducts');

            var opSelected = Allprd.querySelector(`[value="${selectprd.value}"]`);
            var prdtext = ''; var prdvalue = '';
            if (opSelected != null) {
                prdtext = opSelected.value;
                prdvalue = opSelected.getAttribute('id');
                $("#Selectproducts").next(".validation").remove();
            }
            else {
                $("#Selectproducts").after("<div class='validation mb-v' style='color:red;'>please Add Product details</div>");
                return;
            }
            //end

            var Size = $("#SizeId :selected").text();
            var SizeId = $("#SizeId").val();

            var Color = $("#ColorId :selected").text();
            var ColorId = $("#ColorId").val();

            if (ColorId != "") {
                ColorId = 0;
            }

            var purqty = $("#qty").val();
            var purrate = $("#rate").val();
            var recieveqty = $("#Recivedqty").val();
            var MRP = $("#MRP ").val();
            var Discount = $("#Discount").val();

            var Expiry = $("#ExpiryDate").val();
            var SaleRate = $("#SaleRate").val();

            var total = recieveqty * purrate;

            var taxid = $("#TaxId").val();
            var taxdt = $('#TaxId :selected').text();

            if (taxid == "") {
                $("#TaxId").after("<div class='validation mb-v' style='color:red;'>please select tax</div>");
                return;
            }
            else {
                $("#TaxId").next(".validation").remove();
            }

            var txdt1 = taxdt.split('-')[1];
            var txdt2 = txdt1.split('%')[0];

            var taxamt = (purrate * txdt2) / 100;
            var grnd = parseFloat(total) + parseFloat(taxamt);

            var added = false;

            if (jsonarr.length > 0) {
                $.map(jsonarr, function (elementOfArray, indexInArray) {
                    if (elementOfArray.PrdId == prdvalue) {

                        alert("Product Already Exist in list");
                        added = true;
                    }
                });
            }


            if (!added) {

                var item = {};
                item.catId = catId;
                item.subcatId = subcatId;
                item.brandId = brandId;
                item.PrdId = prdvalue;
                item.PrdText = prdtext;
                item.SizeId = SizeId;
                item.qty = purqty;
                item.rate = purrate;
                item.recieveqty = purrate;
                item.MRP = recieveqty;
                item.Discount = Discount;
                item.Expiry = Expiry;
                item.SaleRate = SaleRate;
                item.total = total;
                item.taxid = taxid;
                item.TaxName = taxdt;
                item.taxamt = taxamt;
                item.GrandAmount = grnd;
                jsonarr.push(item);

                tr = $('<tr id="prd-' + prdvalue + '" />');
                tr.append("<td style='display:none;'>" + catId + "</td>");
                tr.append("<td>" + cat + "</td>");
                tr.append("<td style='display: none;'>" + subcatId + "</td>");
                tr.append("<td>" + subcat + "</td>");
                tr.append("<td style='display: none;'>" + brandId + "</td>");
                tr.append("<td>" + brand + "</td>");
                tr.append("<td style='display: none;'>" + prdvalue + "</td>");
                tr.append("<td>" + prdtext + "</td>");
                tr.append("<td style='display: none;'>" + SizeId + "</td>");
                tr.append("<td>" + Size + "</td>");
                tr.append("<td style='display: none;'>" + ColorId + "</td>");
                tr.append("<td>" + Color + "</td>");
                tr.append("<td>" + purqty + "</td>");
                tr.append("<td>" + purrate + "</td>");
                tr.append("<td>" + recieveqty + "</td>");
                tr.append("<td>" + MRP + "</td>");
                tr.append("<td>" + Discount + "</td>");
                tr.append("<td>" + Expiry + "</td>");
                tr.append("<td>" + SaleRate + "</td>");
                tr.append("<td>" + total + "</td>");
                tr.append("<td style='display: none;'>" + taxid + "</td>");
                tr.append("<td>" + taxdt + "</td>");
                tr.append("<td>" + taxamt + "</td>");
                tr.append("<td>" + grnd + "</td>");
                //tr.append("<td class='text-right'><button id='btnDelete'" + prdvalue + "' type='button' class='btn btn-link btn-danger btn-just-icon deletebtn' data-id='" + prdvalue + "' data-total='" + total + "' data-tax='" + taxamt + "' data-grnd='" + grnd + "'><span class='material-icons'>delete</span></button></td>");
                tr.append("<td class='text-right'><button id='btnEdit'" + prdvalue + "' type='button' class='btn btn-link btn-warning btn-just-icon editbtn' data-id='" + prdvalue + "' data-total='" + total + "' data-tax='" + taxamt + "' data-grnd='" + grnd + "'><span class='material-icons'>edit</span></button></td>");
                //<button id='btnEdit'" + prdvalue + "' type='button' class='btn btn - link btn - warning btn - just - icon editbtn' data-id='" + prdvalue + "'><span class='material - icons'>edit</span></button>

                $('#datatables tbody').append(tr);


                var totalamt = parseFloat($('#Total').val());
                var tax = parseFloat($('#TaxAmount').val());
                var grndamt = parseFloat($('#GrandTotal').val());

                totalamt += parseFloat(total);
                tax += parseFloat(taxamt);
                grndamt += parseFloat(grnd);

                $('#Total').val(totalamt.toFixed(2));
                $('#TaxAmount').val(tax.toFixed(2));
                $('#GrandTotal').val(grndamt.toFixed(2));

            }
        });

        $(document).on('click', '.deletebtn', function () {

            debugger;
            var checkstr = confirm('Are you sure to delete this record?');
            if (checkstr == true) {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var totaldt = $buttonClicked.attr('data-total');
                var taxdt = $buttonClicked.attr('data-tax');
                var grnddt = $buttonClicked.attr('data-grnd');

                var totalamt = parseFloat($('#total').val());
                var tax = parseFloat($('#taxamt').val());
                var grndamt = parseFloat($('#grandtotal').val());

                var finaltotal = totalamt - totaldt;
                var finaltax = tax - taxdt;
                var finalgrnd = grndamt - grnddt;

                $('#Total').val(parseFloat(finaltotal).toFixed(2));
                $('#TaxAmount').val(parseFloat(finaltax).toFixed(2));
                $('#GrandTotal').val(parseFloat(finalgrnd).toFixed(2));

                var row = $("#prd-" + id);
                $(row).closest("tr").remove();

                for (var i = 0; i < jsonarr.length; i++) {
                    if (jsonarr[i].PrdId == id) {
                        var deletedItem = jsonarr.splice(i, 1);
                    }
                }
            }
            else {
                return false;
            }
        });

        $(document).on('click', '.editbtn', function () {

            debugger;

            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var totaldt = $buttonClicked.attr('data-total');
            var taxdt = $buttonClicked.attr('data-tax');
            var grnddt = $buttonClicked.attr('data-grnd');

            var totalamt = parseFloat($('#Total').val());
            var tax = parseFloat($('#TaxAmount').val());
            var grndamt = parseFloat($('#GrandTotal').val());

            var finaltotal = totalamt - totaldt;
            var finaltax = tax - taxdt;
            var finalgrnd = grndamt - grnddt;

            $('#Total').val(parseFloat(finaltotal).toFixed(2));
            $('#TaxAmount').val(parseFloat(finaltax).toFixed(2));
            $('#GrandTotal').val(parseFloat(finalgrnd).toFixed(2));


            if (jsonarr.length > 0) {
                $.map(jsonarr, function (elementOfArray, indexInArray) {
                    if (elementOfArray.PrdId == id) {

                        $("#Allproducts option:selected").val(elementOfArray.PrdId);
                        $('#ProductId').val(elementOfArray.PrdId);
                        $('#Selectproducts').val(elementOfArray.PrdText);
                        $('.prdcls').addClass('is-filled');
                        $('#qty').val(elementOfArray.qty);
                        $('#rate').val(elementOfArray.rate);
                        $('#SizeId').val(elementOfArray.SizeId);
                        $('#ColorId').val(elementOfArray.ColorId);
                        $('#Recivedqty').val(elementOfArray.recieveqty);
                        $('#MRP').val(elementOfArray.MRP);
                        $('#Discount').val(elementOfArray.Discount);
                        $('#ExpiryDate').val(elementOfArray.Expiry);
                        $('#SaleRate').val(elementOfArray.SaleRate);

                        $('#BrandId').val(elementOfArray.brandId);
                        $('#CategoryId').val(elementOfArray.catId);
                        $('#SubCategoryId').val(elementOfArray.subcatId);
                        $('#TaxId').val(elementOfArray.taxid);
                    }
                });
            }

            var row = $("#prd-" + id);
            $(row).closest("tr").remove();

            for (var i = 0; i < jsonarr.length; i++) {
                if (jsonarr[i].PrdId == id) {
                    var deletedItem = jsonarr.splice(i, 1);
                }
            }

        });

        // save purchase order method
        function SaveHandler() {

            debugger;
            $("#btnPoSubmit").attr("disabled", true);

            var grnd = $('#GrandTotal').val();

            var GRNDetails = new Array();

            $("#datatables tr:not(:first)").each(function () {
                var tds = $(this).find("td");

                var colr = $(tds[10]).html();
                if (colr = "") {
                    colr = 0;
                }
                        var items = {
                            'CategoryId': $(tds[0]).html(), 'SubcategoryId': $(tds[2]).html(), 'BrandId': $(tds[4]).html(), 'ProductId': $(tds[6]).html(), 'SizeId': $(tds[8]).html(), 'ColorId': colr, 'PurchaseQty': $(tds[12]).html(), 'PurchaseRate': $(tds[13]).html(), 'RecieveQty': $(tds[14]).html(), 'MRP': $(tds[15]).html(), 'Discount': $(tds[16]).html(), 'SaleRate': $(tds[18]).html(), 'Expiry': $(tds[17]).html(), 'Total': $(tds[19]).html(), 'TaxId': $(tds[20]).html(), 'TaxAmount': $(tds[22]).html(), 'GrandAmount': $(tds[23]).html()
                        }
                        GRNDetails.push(items);
                    });

            var PoData = JSON.stringify({
                "GrnId": $('#GRNId').val(),
                "GrnNo": $('#GRNNo').val(),
                "GrnDate": $('#GrnDate').val(),
                "PoId": $('#PoId').val(),
                "PoDate": $('#PoDate').val(),
                "SupplierId": $('#SupplierId').val(),
                "SupplierInvNo": $('#SupplierInvNo').val(),
                "SupplierInvAmt": $('#SupplierInvAmt').val(),
                "SupplierInvDate": $('#SupplierInvDate').val(),
                "PoNo": $('#PoNo').val(),
                "TransportId": $('#TransportDetailId').val(),
                "LR_No": $('#LR_No').val(),
                "LR_Date": $('#LR_Date').val(),
                "City": $('#City').val(),
                "No_of_Packages": $('#No_of_Packages').val(),
                "Total": $('#Total').val(),
                "TaxAmount": $('#TaxAmount').val(),
                "GrandTotal": $('#GrandTotal').val(),
                "UserId": $('#UserId').val(),
                "UserName": $('#UserName').val(),
                "GRNDetails": GRNDetails,
            });

            var WebUIUrl = $("#WebUIUrl").val();

            $.ajax({
                    type: "POST",
                    url: WebUIUrl + "/GRN/GRN/Save",
                    data: PoData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    cache: false,
                    success: function (data) {

                              debugger;

                                if (data == true) {

                                    var url = WebUIUrl + "/GRN/GRN/GRN?userId=@ViewBag.UserId&userName=@ViewBag.UserName";

                                    return window.location.href = url;

                                }
                                else {
                                    $("#btnPoSubmit").attr("disabled", false);
                                }
                            },
                            error: function (errorThrown) {
                                $("#btnPoSubmit").attr("disabled", false);
                                alert(errorThrown);
                            }
                        });
        }

        $(".cancel").click(function () {

            var CloseURL = $("#WebUIUrl").val() + '/GRN/GRN/GetGRN?userId=@ViewBag.UserId&userName=@ViewBag.UserName';

                return window.location.href = CloseURL;
            });

    </script>

}
