﻿
@{
    ViewBag.Title = "GRN";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Meridukan_WEBUI.Areas.GRN.Models.GRNModel> purchaseList = ViewData["GetGRNList"] as List<Meridukan_WEBUI.Areas.GRN.Models.GRNModel>;
}

@model Meridukan_WEBUI.Areas.GRN.Models.GRNListSearch

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <button class="btn btn-info anchorDetail">Add GRN</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">GRN List</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="bmd-label-floating">From Date</label>
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker", autocomplete = "off" })

                            </div>
                            <div class="col-md-3">
                                <label class="bmd-label-floating">To Date</label>
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker", autocomplete = "off" })
                            </div>
                            <div class="col-md-2">
                                <label class="bmd-label-floating"></label>
                                <button class="btn btn-info search" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>GRN No.</th>
                                    <th>GRN Date</th>
                                    <th>Supplier</th>
                                    <th>Total Amount</th>
                                    <th>Tax Amount</th>
                                    <th>GranTotal</th>
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in purchaseList)
                                {
                                    <tr id="grn-@item.GRNId">
                                        <td>@item.GRNNo</td>
                                        <td>@string.Format("{0:dd/MM/yyyy}", item.GrnDate)</td>
                                        <td>@item.SupplierName</td>
                                        <td>@string.Format("{0:n2}", item.Total) </td>
                                        <td>@string.Format("{0:n2}", item.TaxAmount)</td>
                                        <td>@string.Format("{0:n2}", item.GrandTotal)</td>
                                        <td class="text-right">
                                            <a href="javascript:void(0);" class="btn btn-link btn-warning btn-just-icon edit anchorDetail" data-id="@item.GRNId"><i class="material-icons">edit</i></a>
                                            <a href="javascript:void(0);" class="btn btn-link btn-danger btn-just-icon remove" data-id="@item.GRNId"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>

@section scripts
{

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>

        var AddURL = $("#WebUIUrl").val() + '/GRN/GRN/AddGRN?userId=@ViewBag.UserId&userName=@ViewBag.UserName&GRNId=0';
        var EditURL = $("#WebUIUrl").val() + '/GRN/GRN/AddGRN?userId=@ViewBag.UserId&userName=@ViewBag.UserName';
        var DeleteURL = $("#WebUIUrl").val() + '/GRN/GRN/DeleteGRN';

        $(function () {

            $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }
            });

            var table = $('#datatables').DataTable();

            $(".anchorDetail").click(function () {
                return window.location.href = AddURL;
            });

            $(".edit").click(function () {

                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                if (id == undefined)
                    id = 0;
                var options = { "backdrop": "static", keyboard: true };

                var newURL = EditURL + "&GRNId=" + id;

                return window.location.href = newURL;
            });

            $(".remove").click(function () {
                debugger;

                if (confirm("Are you sure to delete?")) {

                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };

                    var DeletePo = {
                        GrnId: id
                    };


                    $.ajax({
                        type: "POST",
                        url: DeleteURL,
                        data: JSON.stringify(DeletePo),
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            if (data == true) {
                                var row = $("#grn-" + id);
                                $(row).closest("tr").remove();
                            }
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                }
            });

            // date filteration
            $(".search").click(function () {

                debugger;
                var fromdate = $('#FromDate').val();
                var todate = $('#ToDate').val();

                $.ajax({
                    cache: false,
                    type: "GET",                    
                    url: '@Url.Action("GetGRNListSearch", "GRN")',                     
                    data: { "fromdate": fromdate, "todate": todate },                   
                    success: function (data) {
                        debugger;
                        $("#datatables").find("tr:not(:first)").remove();
                        for (var i = 0; i < data.length; i++) {

                            var fdateString = data[i].GrnDate.substr(6);
                            var currentTime = new Date(parseInt(fdateString));
                            var month = currentTime.getMonth() + 1;
                            var day = currentTime.getDate();
                            var year = currentTime.getFullYear();
                            if (month.toString().length == 1)
                                month = "0" + month.toString();
                            if (day.toString().length == 1) {
                                day = "0" + currentTime.getDate();
                            }
                            var date = day + "/" + month + "/" + year;

                            $("#datatables").append("<tr id='grn-" + data[i].GRNId + "'><td>" + data[i].GRNNo + "</td><td>" + date + "</td><td>" + data[i].SupplierName + "</td> <td>" + data[i].Total + "</td><td>" + data[i].TaxAmount + "</td><td>" + data[i].GrandTotal + "</td><td class='text-right'><a href='javascript: void(0);' class='btn btn-link btn-warning btn-just-icon edit anchorDetail' data-id=" + data[i].GRNId + "><i class='material-icons'>edit</i></a> <a href='javascript: void(0);' class='btn btn-link btn-danger btn-just-icon remove' data-id=" + data[i].GRNId +"><i class='material-icons'>delete</i></a></td></tr>");
                        }      
                        $('#datatables').DataTable();
                    },
                    error: function (result) {
                        alert("Error");
                    }
                });
            });
        });

    </script>

}
