﻿
@{
    List<Meridukan_WEBUI.Areas.Product.Models.ProductModel> productList = ViewData["GetProductList"] as List<Meridukan_WEBUI.Areas.Product.Models.ProductModel>;
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <button class="btn btn-info anchorDetail" id="createproduct">Add Product</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Product List</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>SubCategory</th>
                                    <th>Brand</th>
                                    <th>MRP</th>
                                    <th>Stock Qty</th>
                                    @*<th>Mini Stock Qty</th>
                                    <th>IsAllowOrder </th>
                                    <th>IsPublished </th>*@
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                            </thead> 
                            <tbody>

                                @foreach (var item in productList)
                                {
                                    <tr id="product-@item.Id">
                                        <td>@item.Name</td>
                                        <td>@item.Category</td>
                                        <td>@item.SubCategory</td>
                                        <td>@item.Brand</td>
                                        <td>@item.MRP</td>
                                        <td>@item.StockQty</td>
                                        @*<td>@item.MinimumStockQty</td>
                                        <td>@item.IsAllowOrder</td>
                                        <td>@item.IsPublished</td>*@
                                        <td class="text-right">
                                            <a href="javascript:void(0);" class="btn btn-link btn-warning btn-just-icon edit anchorDetail" data-id="@item.Id"><i class="material-icons">edit</i></a>
                                            <a href="javascript:void(0);" class="btn btn-link btn-danger btn-just-icon remove" data-id="@item.Id"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {

        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });

        var table = $('#datatables').DataTable();

        var EditURL = $("#WebUIUrl").val() + '/Product/Product/ProductDetails?userId=@ViewBag.UserId&userName=@ViewBag.UserName';        

         $(".edit").click(function () {

                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                if (id == undefined)
                    id = 0;
                var options = { "backdrop": "static", keyboard: true };

                var newURL = EditURL + "&Id=" + id;

                return window.location.href = newURL;
            });
    });
    $("#createproduct").click(function () {
        debugger;
        var AddURL = $("#WebUIUrl").val() + '/Product/Product/ProductDetails?userId=@ViewBag.UserId&userName=@ViewBag.UserName&Id=0';
        //$(".anchorDetail").click(function () {
        //    return window.location.href = AddURL;
        //});
        document.location = AddURL;
       // document.location = '@Url.Action("ProductDetails", "Product", new { userId = ViewBag.UserId, userName = ViewBag.userName })';
    });

    $(".remove").click(function () {
        debugger;

        if (confirm("Are you sure to delete?")) {

            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };

            var DeleteProduct = {
                ProductId: id
            };


            $.ajax({
                type: "POST",
                url: $("#WebUIUrl").val() + '/Product/Product/DeleteProduct',
                data: JSON.stringify(DeleteProduct),
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    debugger;
                    if (data == true) {
                        var row = $("#product-" + id);
                        $(row).closest("tr").remove();
                    }
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        }
    });

</script>
