﻿@model Meridukan_WEBUI.Areas.Product.Models.AddProductModel
@{
    /**/

    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Meridukan_WEBUI.Areas.Product.Models.ProductGRNListModel> gRNList = ViewData["ProductGRNList"] as List<Meridukan_WEBUI.Areas.Product.Models.ProductGRNListModel>;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">
                            Product Master
                        </h4>
                    </div>
                    <div class="card-body ">
                        <ul class="nav nav-pills nav-pills-rose" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" id="tab1">
                                    General Information
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" id="tab2">
                                    Product Attributes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link4" role="tablist" id="tab4">
                                    Product Shipping
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#link5" role="tablist" id="tab5">
                                    Stock Details
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="link1">
                                @*General Information*@
                                <form id="frmAddProduct" method="post">

                                    @Html.HiddenFor(model => model.Id)
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="bmd-label-floating">Category *</label>
                                            @Html.DropDownList("CategoryId", ViewBag.CategoryList as SelectList, "Select Category", new { @class = "form-control" })
                                        </div>

                                        <div class="col-md-4">
                                            <label class="bmd-label-floating">Sub Category *</label>
                                            @Html.DropDownList("SubCategoryId", ViewBag.SubCategoryList as SelectList, "Select Sub Category", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class="bmd-label-floating">Brand *</label>
                                            @Html.DropDownList("BrandId", ViewBag.BrandList as SelectList, "Select Brand", new { @class = "form-control" })
                                        </div>
                                        <br />
                                        <div class="col-md-6">
                                            <label class="bmd-label-floating">Product Name *</label>
                                            @*<input type="text" class="form-control" name="required" id="ProductName" required="true">*@
                                            @Html.TextBoxFor(m => m.ProductName, new { maxlength = 500, @class = "form-control", autocomplete = "off" })
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"> Short Description *</label>
                                                @*<textarea type="text" class="form-control" name="required" id="ShortDescription" required="true"></textarea>*@
                                                @Html.TextAreaFor(m => m.ShortDescription, new { maxlength = 1000, @class = "form-control", autocomplete = "off" })
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-6 col-lg-10 col-xl-12">
                                            <div class="form-group">
                                                <label class="bmd-label-floating"> Description *</label>
                                                @*<textarea type="text" class="form-control" name="required" id="ProductDescription" required="true"></textarea>*@
                                                @Html.TextAreaFor(m => m.ProductDescription, new { maxlength = 5000, @class = "form-control", autocomplete = "off" })
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <button class="btn btn-info next1 pull-right" id="btnGeneralNext" type="button">Next</button>
                                        </div>

                                    </div>

                                </form>

                            </div>
                            <div class="tab-pane" id="link2">
                                @*Product Attribute*@
                                <form asp-action="ProductDetails" asp-controller="Product" method="post" enctype="multipart/form-data">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">SKU *</label>
                                                <input type="text" class="form-control" name="required" id="ProductSKU" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">                                                
                                                <label for="UploadImg" style="cursor:pointer;">Click for upload Image</label>
                                                <input id="UploadImg" type="file" accept="images/*" style="display:none;" />
                                                <img id="imgPreview" height="90" width="150" src="~/Content/assets/img/image_placeholder.jpg" />
                                                <input id="ImagePath" name="ImagePath" type="hidden" />
                                                <input id="ImageName" name="ImageName" type="hidden" />
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">MRP *</label>
                                                <input type="text" class="form-control" name="required" id="MRP" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Discount (%) *</label>
                                                <input type="text" class="form-control" name="required" id="Discount" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Discount Price *</label>
                                                <input type="text" class="form-control" name="required" id="DiscountPrice" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Sale Price  *</label>
                                                <input type="text" class="form-control" name="required" id="SalePrice" required="true">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Sale Price Start </label>
                                                <input type="text" class="form-control datepicker" id="SaleStart" name="required">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Sale Price End </label>
                                                <input type="text" class="form-control datepicker" name="required" id="SaleEnd">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="bmd-label-floating">Size </label>
                                            @Html.DropDownList("SizeId", ViewBag.SizeList as SelectList, "Select Size", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="bmd-label-floating">Color </label>
                                            @Html.DropDownList("ColorId", ViewBag.ColorList as SelectList, "Select Color", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-3">
                                            <label class="bmd-label-floating">Maximum Order Quantity</label>
                                            <input type="text" class="form-control" name="required" id="Maxqty" value="0" autocomplete="off" required="true">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="bmd-label-floating">Minimum Stock Quantity</label>
                                            <input type="text" class="form-control" name="required" id="Minqty" value="0" autocomplete="off" required="true">
                                        </div>

                                        <div class="col-md-3" style="margin-top:15px;">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" id="IsPublish" checked="" class="publish">
                                                    <span class="toggle"></span>
                                                    IsPublished
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-3" style="margin-top:15px;">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" id="IsOrder" checked="" class="order">
                                                    <span class="toggle"></span>
                                                    IsAllow Order
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="margin-top:15px;">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" id="IsNegativeStock" checked="" class="negative">
                                                    <span class="toggle"></span>
                                                    IsAllow Negative Stock
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-info prdclick" type="button">Add</button>
                                        </div>


                                        <div class="col-lg-12 col-md-6 col-sm-3">
                                            <div class="material-datatables">
                                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>SKU</th>
                                                            <th>MRP</th>
                                                            <th>Discount%</th>
                                                            <th>Discount Price</th>
                                                            <th>Sale Price </th>
                                                            <th>Sale Start</th>
                                                            <th>Sale End</th>
                                                            <th>Max Order</th>
                                                            <th>Min Stock</th>
                                                            <th style='display: none;'>SizeId</th>
                                                            <th>Size</th>
                                                            <th style='display: none;'>ColorId</th>
                                                            <th>Color</th>
                                                            <th style='display: none;'>ImagePath</th>
                                                            <th style='display: none;'>ImageName</th>
                                                            <th class="disabled-sorting text-right">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var d in Model.ProductAtributes)
                                                        {
                                                        <tr id="prd-@d.Id">

                                                            <td>@d.SKU</td>
                                                            <td>@d.MRP</td>
                                                            <td>@d.DiscountPerc</td>
                                                            <td>@d.DiscountPrice</td>
                                                            <td>@d.SalePrice</td>
                                                            <td>@d.SaleStart</td>
                                                            <td>@d.SaleEnd</td>
                                                            <td>@d.MaximumOrderQty</td>
                                                            <td>@d.MinimumStockQty</td>
                                                            <td style='display: none;'>@d.PrSizeId</td>
                                                            <td>@d.PrSize</td>
                                                            <td style='display: none;'>@d.PrColorId</td>
                                                            <td>@d.PrColor</td>
                                                            <td style='display: none;'>@d.ImagePath</td>
                                                            <td style='display: none;'>@d.ImageName</td>
                                                            <td class="text-right">
                                                                <button id="btnDelete + @d.Id" type="button" class="btn btn-link btn-danger btn-just-icon deletebtn" data-id="@d.Id">
                                                                    <span class='material-icons'>delete</span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <button class="btn btn-info next2 pull-right" id="btnAttributeNext" type="button">Next</button>
                                        </div>

                                    </div>

                                </form>

                            </div>
                            <div class="tab-pane" id="link3">
                                <div class="col-md-8 col-sm-6 col-lg-10 col-xl-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Product Type *</label>
                                        @*<select asp-for="productType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ProductType>()"></select>*@
                                        <select class="selectpicker" data-size="7" data-style="btn btn-rose btn-round" title="Product Color Select">
                                            <option disabled selected>Choose Product</option>
                                            <option value="2">Simple Product</option>
                                            <option value="3">Variable Product</option>
                                            <option value="4">Grouped Product</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="link4">
                                <div class="col-md-6 col-sm-6 col-lg-8 col-xl-10">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Product Weight *</label>
                                        @Html.TextBoxFor(m => m.Weight, new { maxlength = 10, @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                                    <div class="form-group">

                                        <div class="row">
                                            <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                                <label class="bmd-label-floating">Product Dimantion *</label>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                                <label class="bmd-label-floating">Length in (cm)</label>
                                                @Html.TextBoxFor(m => m.Length, new { maxlength = 10, @class = "form-control", autocomplete = "off" })
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                                <label class="bmd-label-floating">Heigt in (cm)</label>
                                                @Html.TextBoxFor(m => m.Height, new { maxlength = 10, @class = "form-control", autocomplete = "off" })
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
                                                <label class="bmd-label-floating">Width in (cm)</label>
                                                @Html.TextBoxFor(m => m.Width, new { maxlength = 10, @class = "form-control", autocomplete = "off" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-fill btn-warning cancel pull-right">Cancel</button>
                                    <button class="btn btn-info anchorDetail pull-right" id="btnSubmit" onclick="SaveHandler();" type="submit">Save Product</button>
                                </div>

                            </div>
                            @*<div class="tab-pane" id="link5">
                                    <div class="col-md-6 col-sm-6 col-lg-8 col-xl-10">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Prduct Images </label>
                                            <input id="UploadImg" type="file" accept="images/*" asp-for="ProductImage" style="display:none;" />
                                            <img id="imgPreview" height="160" width="240" src="~/Content/assets/img/image_placeholder.jpg" />
                                        </div>
                                    </div>
                                </div>*@

                            <div class="tab-pane" id="link5">

                                @{
                                    int total = 0;

                                    if (gRNList != null)
                                    {
                                        foreach (var item in gRNList)
                                        {
                                            total += Convert.ToInt32(item.Stock);
                                        }
                                    }

                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Total Stock</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">@total</label>                                            
                                        </div>
                                    </div>
                                </div>
                                }



                                <div class="material-datatables">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>GRN No.</th>
                                                <th>Size</th>
                                                <th>Receive Qty</th>
                                                <th>Sold Qty</th>
                                                <th>Stock Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (gRNList != null)
                                            {
                                                foreach (var item in gRNList)
                                                {
                                                    <tr>
                                                        <td>@item.GrnNo</td>
                                                        <td>@item.Size</td>
                                                        <td>@item.ReceiveQty</td>
                                                        <td>@item.SaleQty</td>
                                                        <td>@item.Stock</td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>

    <script>

        var jsonarr = [];
        var ImageUploadURL = $("#WebUIUrl").val() + '/Product/Product/UploadFile';

        var ispublish = true; var isorder = true; var isnegative = true;

        $(document).ready(function () {
            // initialise Datetimepicker and Sliders
            md.initFormExtendedDatetimepickers();
            if ($('.slider').length != 0) {
                md.initSliders();
            }



            // on edit use this sample code
              if (@Model.ProductAtributes.Count > 0) {

                    var model = @Html.Raw(Json.Encode(Model.ProductAtributes));

                    for (i = 0; i < model.length; i++) {
                        var item = {};
                        item.SKU = model[i].SKU;
                        item.MRP = model[i].MRP;
                        item.DiscountPerc = model[i].DiscountPerc;
                        item.DiscountPrice = model[i].DiscountPrice;
                        item.SalePrice = model[i].SalePrice;
                        item.SaleStart = model[i].SaleStart;
                        item.SaleEnd = model[i].SaleEnd;
                        item.Maxqty = model[i].MaximumOrderQty;
                        item.Minqty = model[i].MinimumStockQty;
                        item.ImgPath = model[i].ImagePath;
                        item.ImgName = model[i].ImageName;
                        //item.StockQty = model[i].StockQty;
                        jsonarr.push(item);
                    }
              }

             $.ajax({
                url: '@Url.Action("GetProducts", "Purchase")',
                type: "GET",
                success: function (json, textStatus) {
                    json = json || {};
                    for (var i = 0; i < json.length; i++) {
                        $("#Allproducts").append('<option value="' + json[i].Name + '" id="' + json[i].Id +'">');
                    }
                },
                error: function () {
                    alert("Data Not Found");
                }
             });

            $(".publish").change(function () {
                ispublish = this.checked;
            });

            $(".order").change(function () {
                isorder = this.checked;
            });

            $(".negative").change(function () {
                isnegative = this.checked;
            });

            $("#CategoryId").change(function () {
                debugger;
                $("#ddlDesig").prop("disabled", true);
                var id = $("#CategoryId").val();
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetSubcategory", "Purchase")',
                        data: { "CategoryId": id },
                        success: function (json, textStatus) {
                            debugger;
                            $("#SubCategoryId").empty();
                            json = json || {};

                            $("#SubCategoryId").append('<option value="0">Select Sub Category</option>');
                            for (var i = 0; i < json.length; i++) {
                                $("#SubCategoryId").append('<option value="' + json[i].Id + '">' + json[i].Name + '</option>');
                            }
                            $("#SubCategoryId").prop("disabled", false);
                        },
                        error: function () {
                            $("#SubCategoryId").empty();
                            $("#SubCategoryId").append('<option value="0">Select Sub Category</option>');
                            alert("Data Not Found");
                        }
                    });
                });
        });

        $(document).on('change', '#UploadImg', function () {

            debugger;

            var data = new FormData();
            var files = $("#UploadImg").get(0).files;
            if (files.length > 0) {
                data.append("MyImages", files[0]);
            }

            $.ajax({
                url: ImageUploadURL,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    debugger;
                    $("#ImageName").val(response);
                    $("#ImagePath").val('/Uploads/' + response);
                    $("#imgPreview").attr('src', '/Uploads/' + response);
                },
                error: function (er) {
                    alert(er);
                }

            });


        });


        $(".prdclick").click(function () {
            debugger;

            var SKU = $("#ProductSKU").val();
            var MRP = $("#MRP").val();
            var Discount = $("#Discount").val();
            var DiscountPrice = $("#DiscountPrice").val();
            var SalePrice = $("#SalePrice").val();
            var SaleStart = $("#SaleStart").val();
            var SaleEnd = $("#SaleEnd").val();
            var Maxqty = $("#Maxqty").val();
            var Minqty = $("#Minqty").val();

            var Color = $("#ColorId :selected").text();
            var ColorId = $("#ColorId").val();
            var Size = $("#SizeId :selected").text();
            var SizeId = $("#SizeId").val();

            var ImgPath = $("#ImagePath").val();
            var ImgName = $("#ImageName").val();

            var added = false;

            var prdvalue = 0;
            prdvalue = prdvalue + 1;
            if (!added) {

                //var item = {};
                //item.brandId = brandId;
                //item.PrdId = prdvalue;
                //jsonarr.push(item);

                tr = $('<tr id="prd-' + prdvalue + '" />');
                tr.append("<td>" + SKU + "</td>");
                tr.append("<td>" + MRP + "</td>");
                tr.append("<td>" + Discount + "</td>");
                tr.append("<td>" + DiscountPrice + "</td>");
                tr.append("<td>" + SalePrice + "</td>");
                tr.append("<td>" + SaleStart + "</td>");
                tr.append("<td>" + SaleEnd + "</td>");
                tr.append("<td>" + Maxqty + "</td>");
                tr.append("<td>" + Minqty + "</td>");
                tr.append("<td style='display: none;'>" + SizeId + "</td>");
                tr.append("<td>" + Size + "</td>");
                tr.append("<td style='display: none;'>" + ColorId + "</td>");
                tr.append("<td>" + Color + "</td>");
                tr.append("<td style='display: none;'>" + ImgPath + "</td>");
                tr.append("<td style='display: none;'>" + ImgName + "</td>");

                //tr.append("<td>" + StockQty + "</td>");
                tr.append("<td class='text-right'><button id='btnDelete'" + prdvalue + "' type='button' class='btn btn-link btn-danger btn-just-icon deletebtn' data-id='" + prdvalue + "'><span class='material-icons'>delete</span></button></td>");

                //<button id='btnEdit'" + prdvalue + "' type='button' class='btn btn - link btn - warning btn - just - icon editbtn' data-id='" + prdvalue + "'><span class='material - icons'>edit</span></button>

                $('#datatables tbody').append(tr);

            }
        });

        $(document).on('click', '.deletebtn', function () {

            debugger;
            var checkstr = confirm('Are you sure to delete this record?');
            if (checkstr == true) {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                var row = $("#prd-" + id);
                $(row).closest("tr").remove();

                for (var i = 0; i < jsonarr.length; i++) {
                    if (jsonarr[i].PrdId == id) {
                        var deletedItem = jsonarr.splice(i, 1);
                    }
                }
            }
            else {
                return false;
            }
        });


        // save Prouct method
        function SaveHandler() {

            debugger;
            $("#btnSubmit").attr("disabled", true);

            //var grnd = $('#GrandTotal').val();

            var ProductAtributes = new Array();

            $("#datatables tr:not(:first)").each(function () {
                var tds = $(this).find("td");

                var items = {
                    'SKU': $(tds[0]).html(), 'ImagePath': $(tds[13]).html(), 'ImageName': $(tds[14]).html(), MRP: $(tds[1]).html(), DiscountPerc: $(tds[2]).html(), DiscountPrice: $(tds[3]).html(), SalePrice: $(tds[4]).html(), SaleStart: $(tds[5]).html(), SaleEnd: $(tds[6]).html(), MaximumOrderQty: $(tds[7]).html(), MinimumStockQty: $(tds[8]).html(), StockQty: 0, PrSizeId: $(tds[9]).html(), PrColorId: $(tds[11]).html(), IsAllowOrder: isorder, IsPublished: ispublish, IsAllowNegativeStock: isnegative,
                }
                ProductAtributes.push(items);
            });

            var Data = JSON.stringify({
                "Id": $('#Id').val(),
                "ProductName": $('#ProductName').val(),
                "ProductDescription": $('#ProductDescription').val(),
                "ShortDescription": $('#ShortDescription').val(),
                "UserId": $('#UserId').val(),
                "ProductAtributes": ProductAtributes,
                "CategoryId": $('#CategoryId').val(),
                "SubCategoryId": $('#CategoryId').val(),
                "BrandId": $('#BrandId').val(),
                "Weight": $('#Weight').val(),
                "Length": $('#Length').val(),
                "Height": $('#Height').val(),
                "Width": $('#Width').val(),
            });

            var WebUIUrl = $("#WebUIUrl").val();

            $.ajax({
                type: "POST",
                url: WebUIUrl + "/Product/Product/Save",
                data: Data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                cache: false,

                success: function (data) {

                    debugger;

                    if (data == true) {
                        var ProductURL = $("#WebUIUrl").val() + '/Product/Product/Product?userId=@ViewBag.UserId&userName=@ViewBag.UserName&Id=0';
                        return window.location.href = ProductURL;
                    }
                    else {

                    }
                },
                error: function (errorThrown) {
                    $("#btnSubmit").attr("disabled", false);
                    alert(errorThrown);
                }
            });
            $("#btnSubmit").attr("disabled", false);

        }

        $(".cancel").click(function () {
            var CloseURL = $("#WebUIUrl").val() + '/Product/Product/Product?userId=@ViewBag.UserId&userName=@ViewBag.UserName';
              return window.location.href = CloseURL;
        });


        $(".next1").click(function () {

            $("#tab1").removeClass("active show");
            $("#link1").removeClass("active show");

            $("#tab2").addClass("active show");
            $("#link2").addClass("active show");

         });


        $(".next2").click(function () {

            $("#tab2").removeClass("active show");
            $("#link2").removeClass("active show");

            $("#tab4").addClass("active show");
            $("#link4").addClass("active show");

        });

    </script>

}
