﻿@model Meridukan_WEBUI.Areas.Salesman.Models.SalesmanModel

@{
    ViewBag.Title = "Salesman";
    Layout = null;
}

@Html.HiddenFor(m => m.Id)
<div>
    @*<div class="modal-content">*@
    <div class="modal-header">
        <h5 class="modal-title">Add Salesman</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Name <span style="color: red"> *</span></label>
            @Html.TextBoxFor(m => m.Name, new { @maxlength = "200", @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            <label>Contact No. </label>
            @Html.TextBoxFor(m => m.Contact, new { @maxlength = "10", @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            <label>Salesman No. <span style="color: red"> *</span></label>
            @Html.TextBoxFor(m => m.SalesmanNo, new { @maxlength = "50", @class = "form-control", autocomplete = "off" })
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" id="btnsave" class="btn btn-success save" style="margin-right:5px;">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
    @*</div>*@
</div>
