﻿@model Meridukan_WEBUI.Areas.Sale.Models.SaleModel
@{
    ViewBag.Title = "AddSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<link data-semver="0.4.2" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style type="text/css">


    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        /*background: rgba(0,0,0,0.6);*/
    }

    #overlay1 {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        /*background: rgba(0,0,0,0.6);*/
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cv-spinner1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    .spinner1 {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">
                            Sale Details
                        </h4>
                    </div>
                    <div class="card-body">

                        <form id="frmAddSale" method="post">

                            @Html.HiddenFor(model => model.SaleId)
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Bill Number</label>
                                        @Html.TextBoxFor(m => m.SaleNo, new { maxlength = 50, @class = "form-control", autocomplete = "off" })

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Sale Date</label>
                                        @*<input type="text" class="form-control datepicker" value="07/06/2021">*@
                                        @Html.TextBoxFor(m => m.SaleDate, new { maxlength = 50, @class = "form-control datepicker", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Contact</label>
                                        @Html.TextBoxFor(m => m.Contact, new { maxlength = 10, @class = "form-control", autocomplete = "off", onblur = "contactchange();" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group cust">
                                        <label class="bmd-label-floating">Customer</label>
                                        @Html.TextBoxFor(m => m.CustomerName, new { maxlength = 250, @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.DropDownList("SalesmanId", ViewBag.SalesmanList as SelectList, "Select Salesman", new { @class = "form-control" })
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group SLNo">
                                        <label class="bmd-label-floating">Salesman No</label>
                                        @Html.TextBoxFor(m => m.SalesmanNo, new { @class = "form-control", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div id="overlay">
                                <div class="cv-spinner">
                                    <span class="spinner"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <h4 class="card-title">
                                <b>Add Item Details</b>
                            </h4>

                            <div class="row">
                                @*<div class="col-md-5">
                                        <div class="form-group prdcls">
                                            <label class="md-label-floating">Product</label>
                                            <input type="text" id="txtprd" class="form-control" onblur="prdchange()" maxlength="15" />
                                        </div>
                                    </div>*@
                                <div class="col-md-5">
                                    <div class="form-group prdcls">
                                        <label class="md-label-floating">Product</label>
                                        <input id="Selectproducts" list="Allproducts" name="ProductId" class="form-control prdselect" />
                                        <datalist id="Allproducts"></datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="display:none">ProductId</th>
                                            <th>Img</th>
                                            <th>Product</th>
                                            <th style="display:none">SizeId</th>
                                            <th>Sale Qty</th>
                                            <th>Sale Rate</th>
                                            <th>Total</th>
                                            <th style="display:none">TaxId</th>
                                            <th>Tax</th>
                                            <th>Tax Amount</th>
                                            <th>Discount</th>
                                            <th>GranTotal</th>

                                            @if (Model.SaleId == 0)
                                            {
                                                <th>Stock</th>
                                            }
                                            <th class="disabled-sorting text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var d in Model.saleDetails)
                                        {
                                            var minusval = string.Concat("minus", d.ProductId);
                                            var cls = string.Concat("prd", d.ProductId);
                                            var plusval = string.Concat("plus", d.ProductId);

                                            <tr id="prd-@d.ProductId">
                                                <td style="display:none;">@d.ProductId</td>
                                                <td><img src="@d.ImagePath" style="width: 80px;" alt="No Img" /></td>
                                                <td>@d.ProductName</td>
                                                <td style="display:none;">@d.SizeId</td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-btn">

                                                            @if (Convert.ToInt32(d.SaleQty) == 1)
                                                            {
                                                                <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-id="@d.ProductId" data-action="@minusval" data-field="quant[@d.ProductId]" data-rate="@d.SaleRate" data-tax="@d.TaxAmount">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="btn btn-default btn-number" data-type="minus" data-id="@d.ProductId" data-action="@minusval" data-field="quant[@d.ProductId]" data-rate="@d.SaleRate" data-tax="@d.TaxAmount">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            }

                                                        </span>
                                                        <input type="text" name="quant[@d.ProductId]" class="form-control input-number @cls" value="@d.SaleQty" min="1" max="10">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-id="@d.ProductId" data-action="@plusval" data-field="quant[@d.ProductId]" data-rate="@d.SaleRate" data-tax="@d.TaxAmount">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>@d.SaleRate</td>
                                                <td>@d.Total</td>
                                                <td style="display:none;">@d.TaxId</td>
                                                <td> @d.TaxName </td>
                                                <td>@d.TaxAmount</td>
                                                <td>@d.GrandTotal</td>
                                                <td class="text-right">
                                                    @*<button id="btnEdit + @d.ProductId" type="button" class="btn btn-link btn-warning btn-just-icon editbtn" data-id=@d.ProductId data-total=@d.Total data-tax=@d.TaxAmount data-grnd=@d.GrandTotal>
                                                            <span class='material-icons'>edit</span>
                                                        </button>*@
                                                    <button id="btnDelete + @d.ProductId" type="button" class="btn btn-link btn-danger btn-just-icon deletebtn" data-id=@d.ProductId data-total=@d.Total data-tax=@d.TaxAmount data-grnd=@d.GrandTotal>
                                                        <span class='material-icons'>delete</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <br /><br />
                            <div class="row">
                                <div class="col-md-4">
                                    @*<div class="col-md-4" style="float:left;">
                                            @if (Model.SaleId > 0)
                                            {
                                                <div class="form-group">
                                                    @Html.DropDownList("OrderStatusId", ViewBag.OrderStatusList as SelectList, "Select Order Status", new { @class = "form-control" })
                                                    <input type="text" class="form-control">
                                                </div>
                                            }
                                        </div>*@
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Total</label>
                                        @*<input type="text" class="form-control" value="0" id="total" style="text-align:right;">*@
                                        @Html.TextBoxFor(m => m.Total, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Tax Amount</label>
                                        @Html.TextBoxFor(m => m.TaxAmount, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Discount on Bill</label>
                                        @Html.TextBoxFor(m => m.Discount, new { @class = "form-control", autocomplete = "off", onblur = "billDiscount();" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Grand Total</label>
                                        @Html.TextBoxFor(m => m.GrandTotal, new { @class = "form-control", autocomplete = "off", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <br />

                            @if (Model.SaleId == 0)
                            {
                                <button class="btn btn-rose" onclick="SaveCart();" id="btnsuspendCart" type="button"><span class="btn-label"><i class="material-icons">priority_high</i></span>Hold & Save Cart<div class="ripple-container"></div></button>
                                <button class="btn btn-danger emptycart pull-left" type="button"><i class="material-icons">close</i> Empty Cart<div class="ripple-container"></div></button>
                            }

                            <button type="button" class="btn btn-fill btn-warning cancel pull-right">Cancel</button>

                            @if (Model.SaleId == 0)
                            {
                                <button type="button" class="btn btn-success pull-right pay" id="btnSaleSubmit">Pay</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success pull-right" id="btnEditSave" onclick="EditSave();">Save</button>
                            }
                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="payModal" class="modal fade modal-wrap payment-modal modal-close-space" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content reveal-modal" id="payModalContent">
        </div>
    </div>
</div>

<div id="printModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content reveal-modal" id="printModalContent">
        </div>
    </div>
</div>

<input value="@ViewBag.UserId" type="text" name="UserId" id="UserId" hidden="hidden" />
<input value="@ViewBag.UserName" type="text" name="UserName" id="UserName" hidden="hidden" />

@section scripts
{
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script>

        var jsonarr = [];

        $(document).ready(function () {
            // initialise Datetimepicker and Sliders
            md.initFormExtendedDatetimepickers();
            if ($('.slider').length != 0) {
                md.initSliders();
            }

            $('[data-toggle="tooltip"]').tooltip();

            $('#SaleNo').addClass('disabled');

            // on edit use this sample code
            if (@Model.saleDetails.Count > 0) {

            var model = @Html.Raw(Json.Encode(Model.saleDetails));

                for (i = 0; i < model.length; i++) {
                    var item = {};
                    item.PrdId = model[i].ProductId;
                    item.PrdText = model[i].ProductName;
                    item.SizeId = model[i].SizeId;
                    item.qty = model[i].SaleQty;
                    item.rate = model[i].SaleRate;
                    item.TaxId = model[i].TaxId;
                    jsonarr.push(item);
                }
            }

             $.ajax({
                url: '@Url.Action("GetProducts", "Sale")',
                type: "GET",
                success: function (json, textStatus) {
                    json = json || {};

                    document.getElementById('Allproducts').innerHTML = '';

                    for (var i = 0; i < json.length; i++) {
                        $("#Allproducts").append('<option value="' + json[i].ProductName + '(' + json[i].Barcode + ')' + '" id="' + json[i].PrAttributeId + '">');
                    }
                },
                error: function () {
                    alert("Data Not Found");
                }
           });

            $("#CategoryId").change(function () {
                debugger;
                var id = $("#CategoryId").val();
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetSubcategory", "Sale")',
                        data: { "CategoryId": id },
                        success: function (json, textStatus) {
                            debugger;
                            $("#SubCategoryId").empty();
                            json = json || {};

                            $("#SubCategoryId").append('<option value="0">Select Sub Category</option>');
                            for (var i = 0; i < json.length; i++) {
                                $("#SubCategoryId").append('<option value="' + json[i].Id + '">' + json[i].Name + '</option>');
                            }
                            $("#SubCategoryId").prop("disabled", false);
                        },
                        error: function () {
                            $("#SubCategoryId").empty();
                            $("#SubCategoryId").append('<option value="0">Select Sub Category</option>');
                            alert("Data Not Found");
                        }
                    });
            });

            $("#SalesmanId").change(function () {
                debugger;
                var id = $("#SalesmanId").val();
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetSalesman", "Sale")',
                        data: { "Id": id },
                        success: function (json, textStatus) {
                            debugger;
                            $("#SalesmanNo").val('');
                            json = json || {};

                            $("#SalesmanNo").val(json.SalesmanNo);
                            $("#SalesmanNo").addClass('disabled');
                            $('.SLNo').addClass('is-filled');

                        },
                        error: function () {
                            $("#SalesmanNo").val('');
                            $("#SalesmanNo").removeClass('disabled');
                            alert("Data Not Found");
                        }
                    });
            });

             $(".prdselect").change(function () {
                 debugger;

                 var selectprd = document.getElementById('Selectproducts');
                 var Allprd = document.getElementById('Allproducts');
                 var opSelected = Allprd.querySelector(`[value="${selectprd.value}"]`);
                 var prdtext = ''; var prdvalue = '';
                 if (opSelected != null) {
                     prdtext = opSelected.value;
                     prdvalue = opSelected.getAttribute('id');

                       $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetSaleRate", "Sale")',
                        data: { "Barcode": prdtext },
                        success: function (json, textStatus) {
                            debugger;
                            json = json || {};

                            if (json.ProductId != 0) {
                                $("#rate").val(json.SaleRate);
                                $("#ProductId").val(json.ProductId);
                                $("#SizeId").val(json.SizeId);

                                //directly add in subtable

                                var added = false;

                                if (jsonarr.length > 0) {
                                    $.map(jsonarr, function (elementOfArray, indexInArray) {
                                        if (elementOfArray.PrdId == json.ProductId) {
                                            alert("Product Already Exist in list");
                                            added = true;
                                        }
                                    });
                                }

                                if (!added) {

                                    var item = {};
                                    item.PrdId = json.ProductId;
                                    item.PrdText = json.ProductName;
                                    item.SizeId = json.SizeId;
                                    item.qty = 1;
                                    item.rate = json.SaleRate;
                                    item.TaxId = json.TaxId;
                                    jsonarr.push(item);

                                    var txamt = (json.SaleRate * json.TaxValue) / 100;
                                    var grndtotal = parseFloat(json.SaleRate) + parseFloat(txamt);

                                    tr = $('<tr id="prd-' + json.ProductId + '" />');
                                    tr.append("<td style='display: none;'>" + json.ProductId + "</td>");
                                    tr.append("<td><img src=" + json.ImagePath +" style='width: 80px;' alt='No Img' /></td>");
                                    tr.append("<td>" + json.ProductName + "</td>");
                                    tr.append("<td style='display: none;'>" + json.SizeId + "</td>");
                                    tr.append("<td><div class='input-group'><span class='input-group-btn'><button type='button' class='btn btn-default btn-number' disabled='disabled' data-type='minus' data-id='" + json.ProductId + "' data-action='minus" + json.ProductId + "' data-field='quant[" + json.ProductId + "]' data-rate=" + json.SaleRate + " data-tax=" + txamt + "><span class='glyphicon glyphicon-minus'></span></button></span> <input type='text' name='quant[" + json.ProductId + "]' class='form-control input-number prd" + json.ProductId + "' value='1' min='1' max='10'><span class='input-group-btn'><button type='button' class='btn btn-default btn-number' data-type='plus' data-id='" + json.ProductId + "' data-action='plus" + json.ProductId + "' data-field='quant[" + json.ProductId + "]' data-rate=" + json.SaleRate + " data-tax=" + txamt + "><span class='glyphicon glyphicon-plus'></span></button></span></div></td>");
                                    tr.append("<td>" + json.SaleRate + "</td>");
                                    tr.append("<td>" + json.SaleRate + "</td>");
                                    tr.append("<td style='display: none;'>" + json.TaxId + "</td>");
                                    tr.append("<td>" + json.TaxValue + ""+ '.00%'+"</td>");
                                    tr.append("<td>" + txamt + "</td>");
                                    tr.append("<td><div class='input-group'><input type='text' name='disc[" + json.ProductId + "]' class='form-control input-discount disc" + json.ProductId + "' value='0' data-id='" + json.ProductId + "' data-grnd=" + grndtotal + " data-field='disc[" + json.ProductId + "]' ></div></td>");
                                    tr.append("<td>" + grndtotal + "</td>");
                                    tr.append("<td>" + json.Stock + "</td>");
                                    tr.append("<td class='text-right'><button id='btnDelete'" + json.ProductId + "' type='button' class='btn btn-link btn-danger btn-just-icon deletebtn' data-id=" + json.ProductId + " data-total=" + json.SaleRate + " data-tax=" + txamt + " data-grnd=" + grndtotal + "><span class='material-icons'>delete</span></button></td>");

                                    $('#datatables tbody').append(tr);


                                    var totalamt = parseFloat($('#Total').val());
                                    var tax = parseFloat($('#TaxAmount').val());
                                    var grndamt = parseFloat($('#GrandTotal').val());

                                    totalamt += parseFloat(json.SaleRate);
                                    tax += parseFloat(txamt);
                                    grndamt += parseFloat(grndtotal);

                                    $('#Total').val(totalamt.toFixed(2));
                                    $('#TaxAmount').val(tax.toFixed(2));
                                    $('#GrandTotal').val(grndamt.toFixed(2));

                                  //  $("#txtprd").val('');
                                }
                            }
                            else {
                                alert("Data Not Found");
                            }
                        },
                        error: function () {
                            $("#rate").empty();
                            alert("Data Not Found");
                        }
                        });
                 }
             });
        });


        function prdchange() {
            var barcode = $("#txtprd").val();

            if (barcode != "") {

                 $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetSaleRate", "Sale")',
                        data: { "Barcode": barcode },
                        success: function (json, textStatus) {
                            debugger;
                            json = json || {};

                            if (json.ProductId != 0) {
                                $("#rate").val(json.SaleRate);
                                $("#ProductId").val(json.ProductId);
                                $("#SizeId").val(json.SizeId);

                                //directly add in subtable

                                var added = false;

                                if (jsonarr.length > 0) {
                                    $.map(jsonarr, function (elementOfArray, indexInArray) {
                                        if (elementOfArray.PrdId == json.ProductId) {
                                            alert("Product Already Exist in list");
                                            added = true;
                                        }
                                    });
                                }


                                if (!added) {

                                    var item = {};
                                    item.PrdId = json.ProductId;
                                    item.PrdText = json.ProductName;
                                    item.SizeId = json.SizeId;
                                    item.qty = 1;
                                    item.rate = json.SaleRate;
                                    item.TaxId = json.TaxId;
                                    jsonarr.push(item);

                                    var txamt = (json.SaleRate * json.TaxValue) / 100;
                                    var grndtotal = parseFloat(json.SaleRate) + parseFloat(txamt);

                                    tr = $('<tr id="prd-' + json.ProductId + '" />');
                                    tr.append("<td style='display: none;'>" + json.ProductId + "</td>");
                                    tr.append("<td><img src=" + json.ImagePath +" style='width: 80px;' alt='No Img' /></td>");
                                    tr.append("<td>" + json.ProductName + "</td>");
                                    tr.append("<td style='display: none;'>" + json.SizeId + "</td>");
                                    tr.append("<td><div class='input-group'><span class='input-group-btn'><button type='button' class='btn btn-default btn-number' disabled='disabled' data-type='minus' data-id='" + json.ProductId + "' data-action='minus" + json.ProductId + "' data-field='quant[" + json.ProductId + "]' data-rate=" + json.SaleRate + " data-tax=" + txamt + "><span class='glyphicon glyphicon-minus'></span></button></span> <input type='text' name='quant[" + json.ProductId + "]' class='form-control input-number prd" + json.ProductId + "' value='1' min='1' max='10'><span class='input-group-btn'><button type='button' class='btn btn-default btn-number' data-type='plus' data-id='" + json.ProductId + "' data-action='plus" + json.ProductId + "' data-field='quant[" + json.ProductId + "]' data-rate=" + json.SaleRate + " data-tax=" + txamt + "><span class='glyphicon glyphicon-plus'></span></button></span></div></td>");
                                    tr.append("<td>" + json.SaleRate + "</td>");
                                    tr.append("<td>" + json.SaleRate + "</td>");
                                    tr.append("<td style='display: none;'>" + json.TaxId + "</td>");
                                    tr.append("<td>" + json.TaxName + "</td>");
                                    tr.append("<td>" + txamt + "</td>");
                                    tr.append("<td>" + grndtotal + "</td>");
                                    tr.append("<td class='text-right'><button id='btnDelete'" + json.ProductId + "' type='button' class='btn btn-link btn-danger btn-just-icon deletebtn' data-id=" + json.ProductId + " data-total=" + json.SaleRate + " data-tax=" + txamt + " data-grnd=" + grndtotal + "><span class='material-icons'>delete</span></button></td>");

                                    $('#datatables tbody').append(tr);


                                    var totalamt = parseFloat($('#Total').val());
                                    var tax = parseFloat($('#TaxAmount').val());
                                    var grndamt = parseFloat($('#GrandTotal').val());

                                    totalamt += parseFloat(json.SaleRate);
                                    tax += parseFloat(txamt);
                                    grndamt += parseFloat(grndtotal);

                                    $('#Total').val(totalamt.toFixed(2));
                                    $('#TaxAmount').val(tax.toFixed(2));
                                    $('#GrandTotal').val(grndamt.toFixed(2));

                                    $("#txtprd").val('');
                                }


                            }
                            else {
                                alert("Data Not Found");
                            }
                        },
                        error: function () {
                            $("#rate").empty();
                            alert("Data Not Found");
                        }
                        });
                    }
                }

            function contactchange() {

                var Contact = $("#Contact").val();

                if (Contact != "") {

                 $.ajax({
                        cache: false,
                        type: "GET",
                        url: '@Url.Action("GetCartDataforCustomer", "Sale")',
                        data: { "Contact": Contact },
                        success: function (json, textStatus) {
                            debugger;
                            json = json || {};

                            if (json.length > 0) {

                                swal({
                                    title: "Are you sure?",
                                    text: "this customer have items in cart, do you want to load it ?",
                                    icon: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Yes",
                                    cancelButtonText: "No,Keep the Cart",
                                    dangerMode: true,

                                }).then(function (isConfirm) {
                                    if (isConfirm.value == true) {

                                        $("#CustomerName").val(json[0].Name);
                                        $('.cust').addClass('is-filled');

                                        for (var i = 0; i <= json.length - 1; i++) {
                                            var itemdata = json[i];

                                            var added = false;

                                            if (!added) {

                                                var item = {};
                                                item.PrdId = itemdata.ProductId;
                                                item.PrdText = itemdata.ProductName;
                                                item.SizeId = itemdata.SizeId;
                                                item.qty = itemdata.Qty;
                                                item.rate = itemdata.Rate;
                                                item.TaxId = itemdata.TaxId;
                                                jsonarr.push(item);

                                                tr = $('<tr id="prd-' + itemdata.ProductId + '" />');
                                                tr.append("<td style='display: none;'>" + itemdata.ProductId + "</td>");
                                                tr.append("<td><img src=" + itemdata.ImagePath + " style='width: 80px;' alt='No Img' /></td>");
                                                tr.append("<td>" + itemdata.ProductName + "</td>");
                                                tr.append("<td style='display: none;'>" + itemdata.SizeId + "</td>");
                                                tr.append("<td><div class='input-group'><span class='input-group-btn'><button type='button' class='btn btn-default btn-number' disabled='disabled' data-type='minus' data-id='" + itemdata.ProductId + "' data-action='minus" + itemdata.ProductId + "' data-field='quant[" + itemdata.ProductId + "]' data-rate=" + itemdata.SaleRate + " data-tax=" + itemdata.TaxAmount + "><span class='glyphicon glyphicon-minus'></span></button></span> <input type='text' name='quant[" + itemdata.ProductId + "]' class='form-control input-number prd" + itemdata.ProductId + "' value='" + itemdata.Qty + "' min='1' max='10'><span class='input-group-btn'><button type='button' class='btn btn-default btn-number' data-type='plus' data-id='" + itemdata.ProductId + "' data-action='plus" + itemdata.ProductId + "' data-field='quant[" + itemdata.ProductId + "]' data-rate=" + itemdata.SaleRate + " data-tax=" + itemdata.TaxAmount + "><span class='glyphicon glyphicon-plus'></span></button></span></div></td>");
                                                tr.append("<td>" + itemdata.Rate + "</td>");
                                                tr.append("<td>" + itemdata.Total + "</td>");
                                                tr.append("<td style='display: none;'>" + itemdata.TaxId + "</td>");
                                                tr.append("<td>" + itemdata.TaxName + "</td>");
                                                tr.append("<td>" + itemdata.TaxAmount + "</td>");
                                                tr.append("<td>" + itemdata.GrandTotal + "</td>");
                                                tr.append("<td class='text-right'><button id='btnDelete'" + itemdata.ProductId + "' type='button' class='btn btn-link btn-danger btn-just-icon deletebtn' data-id=" + itemdata.ProductId + " data-total=" + itemdata.SaleRate + " data-tax=" + itemdata.TaxAmount + " data-grnd=" + itemdata.GrandTotal + "><span class='material-icons'>delete</span></button></td>");

                                                $('#datatables tbody').append(tr);



                                                var totalamt = parseFloat($('#Total').val());
                                                var tax = parseFloat($('#TaxAmount').val());
                                                var grndamt = parseFloat($('#GrandTotal').val());

                                                totalamt += parseFloat(itemdata.Total);
                                                tax += parseFloat(itemdata.TaxAmount);
                                                grndamt += parseFloat(itemdata.GrandTotal);

                                                $('#Total').val(totalamt.toFixed(2));
                                                $('#TaxAmount').val(tax.toFixed(2));
                                                $('#GrandTotal').val(grndamt.toFixed(2));

                                                if (grndamt > 0) {

                                                    var Data = {
                                                        Contact: Contact
                                                    };

                                                    $.ajax({
                                                        type: "POST",
                                                        url: '@Url.Action("DeleteCartByCustomer", "Sale")',
                                                        data: JSON.stringify(Data),
                                                        contentType: "application/json; charset=utf-8",
                                                        datatype: "json",
                                                        success: function (data) {
                                                            debugger;
                                                            if (data == true) {
                                                            }
                                                        },
                                                        error: function () {
                                                            alert("Dynamic content load failed.");
                                                        }
                                                    });
                                                }
                                            }
                                        }

                                    } else {


                                    }
                                });
                            }
                        },
                        error: function () {
                            alert("Data Not Found");
                        }
                        });
                    }
            }


        function billDiscount() {

          debugger;
             
             var discount = $("#Discount").val();

                grandVal = 0;
                var table = document.getElementById("datatables");
                for (var i = 1; i < table.rows.length; i++) {
                    grandVal = grandVal + parseFloat(table.rows[i].cells[11].innerHTML);
                }

                var finalgrand = parseFloat(grandVal) - parseFloat(discount);
                $("#GrandTotal").val(finalgrand);
          }


        $(".prdclick").click(function () {
            debugger;

            var table = document.getElementById("datatables");
            for (var i = 0, row; row = table.rows[i]; i++) {

                if (i != 0) {

                    for (var j = 0, col; col = row.cells[j]; j++) {
                        //iterate through columns
                        //columns would be accessed using the "col" variable assigned in the for loop
                            var dt = '';

                            if (j == 3) {

                                dt = col.innerHTML;

                                var ext = $('.prd1').val();
                            }
                            else {
                                dt = col.innerHTML;
                            }
                    }
                }
            }



            // get selected product
            //var selectprd = document.getElementById('Selectproducts');
            //var Allprd = document.getElementById('Allproducts');

            //var opSelected = Allprd.querySelector(`[value="${selectprd.value}"]`);
            //var prdtext = ''; var prdvalue = '';
            //if (opSelected != null) {
            //    prdtext = opSelected.value;
            //    prdvalue = opSelected.getAttribute('id');
            //    $("#Selectproducts").next(".validation").remove();
            //}
            //else {
            //    $("#Selectproducts").after("<div class='validation mb-v' style='color:red;'>please Add Product details</div>");
            //    return;
            //}
            ////end

            //var prdId = $("#ProductId").val();
            //var sizeId = $("#SizeId").val();
            //var qty = $("#qty").val();
            //var rate = $("#rate").val();

            //var total = qty * rate;

            //var taxid = $("#TaxId").val();
            //var taxdt = $('#TaxId :selected').text();

            //if (taxid == "") {
            //    $("#TaxId").after("<div class='validation mb-v' style='color:red;'>please select tax</div>");
            //    return;
            //}
            //else {
            //    $("#TaxId").next(".validation").remove();
            //}

            //var txdt1 = taxdt.split('-')[1];
            //var txdt2 = txdt1.split('%')[0];

            //var taxamt = (rate * txdt2) / 100;
            //var grnd = parseFloat(total) + parseFloat(taxamt);

            //var added = false;

            //if (jsonarr.length > 0) {
            //    $.map(jsonarr, function (elementOfArray, indexInArray) {
            //        if (elementOfArray.PrdId == prdvalue) {

            //            alert("Product Already Exist in list");
            //            added = true;
            //        }
            //    });
            //}


            //if (!added) {

            //    var item = {};
            //    item.PrdId = prdId;
            //    item.PrdText = prdtext;
            //    item.SizeId = sizeId;
            //    item.qty = qty;
            //    item.rate = rate;
            //    item.TaxId = taxid;
            //    jsonarr.push(item);

            //    tr = $('<tr id="prd-' + prdId + '" />');
            //    tr.append("<td style='display: none;'>" + prdId + "</td>");
            //    tr.append("<td>" + prdtext + "</td>");
            //    tr.append("<td style='display: none;'>" + sizeId + "</td>");
            //    tr.append("<td>" + qty + "</td>");
            //    tr.append("<td>" + rate + "</td>");
            //    tr.append("<td>" + total + "</td>");
            //    tr.append("<td style='display: none;'>" + taxid + "</td>");
            //    tr.append("<td>" + taxdt + "</td>");
            //    tr.append("<td>" + taxamt + "</td>");
            //    tr.append("<td>" + grnd + "</td>");
            //    tr.append("<td class='text-right'><button id='btnEdit" + prdId + "' type='button' class='btn btn-link btn-warning btn-just-icon editbtn' data-id='" + prdId + "' data-total='" + total + "' data-tax='" + taxamt + "' data-grnd='" + grnd + "'><span class='material-icons'>edit</span></button><button id='btnDelete'" + prdId + "' type='button' class='btn btn-link btn-danger btn-just-icon deletebtn' data-id=" + prdId + " data-total=" + total + " data-tax=" + taxamt + " data-grnd=" + grnd + "><span class='material-icons'>delete</span></button></td>");

            //    $('#datatables tbody').append(tr);


            //    var totalamt = parseFloat($('#Total').val());
            //    var tax = parseFloat($('#TaxAmount').val());
            //    var grndamt = parseFloat($('#GrandTotal').val());

            //    totalamt += parseFloat(total);
            //    tax += parseFloat(taxamt);
            //    grndamt += parseFloat(grnd);

            //    $('#Total').val(totalamt.toFixed(2));
            //    $('#TaxAmount').val(tax.toFixed(2));
            //    $('#GrandTotal').val(grndamt.toFixed(2));

            //    $("#TaxId").val(0);
            //    $("#qty").val(0);
            //    $("#rate").val(0);
            //    $("#Selectproducts").val('');

            //}
        });

        $(".pay").click(function () {
            debugger;

            var grnd = $('#GrandTotal').val();

            $.ajax({
                type: "GET",
                url: $("#WebUIUrl").val() + '/Sale/Sale/PayData',
                contentType: "application/json; charset=utf-8",
                data: { "grandtotal": grnd },
                datatype: "json",
                async: true,
                cache: false,
                success: function (data) {

                    $($(this).attr("data-target")).modal("show");
                    $('#payModalContent').html(data);

                    $('#payModal').addClass('in');
                    $('#payModal').modal('show');

                    debugger;

                    totaldue = parseFloat($('#GrandTotal').val());

                    $('#totaldue').val(totaldue);
                    $('#totalpay').val(0);
                    $('#balance').val(totaldue);
                    $('#change').val(0);

                   // $("#payvalue").html(totaldue);

                },
                error: function () {
                    alert("Content load failed.");
                }
            });
        });


        $(document).on('click', '.finalpay', function () {
            debugger;

            $("#btnpopuppay").attr("disabled", true);

            $("#overlay").fadeIn(300);

            var grnd = $('#GrandTotal').val();

            var saleDetails = new Array();

            $("#datatables tr:not(:first)").each(function () {

                var tds = $(this).find("td");

                var dt1 = $(tds[0]).html();

                var dt2 = ".prd" + dt1;

                var qtyvalue = $('' + dt2 + '').val();

                        var items = {
                            'ProductId': $(tds[0]).html(), 'SizeId': $(tds[3]).html(), 'SaleQty': qtyvalue, 'SaleRate': $(tds[5]).html(), 'Total': $(tds[6]).html(), 'TaxId': $(tds[7]).html(), 'TaxAmount': $(tds[9]).html(), 'Discount': $(tds[10]).html(), 'GrandTotal': $(tds[11]).html()
                        }
                         saleDetails.push(items);
               });

            ttpay = $('#totalpay').val();
            ttbalance = $('#balance').val();
            ttchangepay = $('#change').val();
           // ttcash = $('#change').val();

            recAmt = $('#GrandTotal').val();

            if (ttpay > grnd) {

                ttpay = parseFloat(ttpay) - parseFloat(ttchangepay);
            }

            //if (ttchangepay != 0) {

            //    ttcash = ttpay;
            //}

            var selected = $('#options option:selected');


            var SoData = JSON.stringify({
                "SaleId": $('#SaleId').val(),
                "SaleDate": $('#SaleDate').val(),
                "CustomerName": $('#CustomerName').val(),
                "Contact": $('#Contact').val(),
                "SaleNo": $('#SaleNo').val(),
                "SalesmanId": $('#SalesmanId').val(),
                "SalesmanNo": $('#SalesmanNo').val(),
                "Total": $('#Total').val(),
                "TaxAmount": $('#TaxAmount').val(),
                "GrandTotal": $('#GrandTotal').val(),
                "ReceiveAmount": ttpay,
                "PendingAmount": ttbalance,
                "Change": ttchangepay,
                "Cash": $('#totalpay').val(),
                "PaymentOption": selected.html(),
                "UserId": $('#UserId').val(),
                "UserName": $('#UserName').val(),
                "saleDetails": saleDetails,
            });

            var WebUIUrl = $("#WebUIUrl").val();

               $.ajax({
                    type: "POST",
                    url: WebUIUrl + "/Sale/Sale/Save",
                    data: SoData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    cache: false,
                    success: function (data) {

                              debugger;

                                if (data > 0) {

                                    $.ajax({
                                        type: "GET",
                                        url: $("#WebUIUrl").val() + '/Sale/Sale/PrintSaleData',
                                        contentType: "application/json; charset=utf-8",
                                        datatype: "json",
                                        data: { "SaleId": data },
                                        async: true,
                                        cache: false,
                                        success: function (data) {

                                            $('#payModal').removeClass('in');
                                            $('#payModal').modal('hide');

                                            $($(this).attr("data-target")).modal("show");
                                            $('#printModalContent').html(data);

                                            $('#printModal').addClass('in');
                                            $('#printModal').modal('show');
                                        },
                                        error: function () {
                                            alert("Content load failed.");
                                        }
                                    });

                                }
                                else {
                                    $("#btnpopuppay").attr("disabled", false);
                                }
                            },
                            error: function (errorThrown) {
                                $("#btnpopuppay").attr("disabled", false);
                                alert(errorThrown);
                            }
               }).done(function () {
                   setTimeout(function () {
                       $("#overlay").fadeOut(300);
                   }, 500);
               });;


        });

        $(document).on('click', '.back', function () {

            debugger;
            $('#payModal').removeClass('in');
            $('#payModal').modal('hide');
        });

        $(document).on('click', '.close', function () {

            debugger;
            //$('#printModal').removeClass('in');
            //$('#printModal').modal('hide');

            var url = $("#WebUIUrl").val() + "/Sale/Sale/GetSale?userId=@ViewBag.UserId&userName=@ViewBag.UserName";

             return window.location.href = url;
        });

        $(document).on('click', '.print', function () {

            debugger;

            var disp_setting = "toolbar=yes,location=no,";
            disp_setting += "directories=yes,menubar=yes,";
            disp_setting += "scrollbars=yes,width=650, height=600, left=100, top=25";
            var content_vlue = document.getElementById('printModal').innerHTML;
            var docprint = window.open("", "", disp_setting);
            docprint.document.open();
            docprint.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"');
            docprint.document.write('"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">');
            docprint.document.write('<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">');
           // docprint.document.write('<head><title>My Title</title>');
            docprint.document.write('<head>');
            docprint.document.write('<style type="text/css">body{ margin:0px;');
            docprint.document.write('font-family:verdana,Arial;color:#000;');
            docprint.document.write('font-family:Verdana, Geneva, sans-serif; font-size:12px;}');
            docprint.document.write('a{color:#000;text-decoration:none;} </style>');
            docprint.document.write('</head><body onLoad="self.print()"><center>');
            docprint.document.write(content_vlue);
            docprint.document.write('</center></body></html>');
            docprint.document.close();
            docprint.focus();

            //var printContents = document.getElementById('printModal').innerHTML;
            //var originalContents = document.body.innerHTML;

            //document.body.innerHTML = printContents;

            //window.print();

            //document.body.innerHTML = originalContents;
        });


        $(document).on('click', '.editbtn', function () {

            debugger;

            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var totaldt = $buttonClicked.attr('data-total');
            var taxdt = $buttonClicked.attr('data-tax');
            var grnddt = $buttonClicked.attr('data-grnd');

            var totalamt = parseFloat($('#Total').val());
            var tax = parseFloat($('#TaxAmount').val());
            var grndamt = parseFloat($('#GrandTotal').val());

            var finaltotal = totalamt - totaldt;
            var finaltax = tax - taxdt;
            var finalgrnd = grndamt - grnddt;

            $('#Total').val(parseFloat(finaltotal).toFixed(2));
            $('#TaxAmount').val(parseFloat(finaltax).toFixed(2));
            $('#GrandTotal').val(parseFloat(finalgrnd).toFixed(2));


            if (jsonarr.length > 0) {
                $.map(jsonarr, function (elementOfArray, indexInArray) {
                    if (elementOfArray.PrdId == id) {

                        //$("#Allproducts option:selected").val(elementOfArray.PrdId);
                        //$('#ProductId').val(elementOfArray.PrdId);
                        //$('#Selectproducts').val(elementOfArray.PrdText);
                        //$('.prdcls').addClass('is-filled');

                        $("#Allproducts option:selected").val(elementOfArray.PrdId);
                        $('#ProductId').val(elementOfArray.PrdId);
                        $('#Selectproducts').val(elementOfArray.PrdText);
                        $('.prdcls').addClass('is-filled');
                        $('#SizeId').val(elementOfArray.SizeId);
                        $('#qty').val(elementOfArray.qty);
                        $('#rate').val(elementOfArray.rate);
                        $('#TaxId').val(elementOfArray.TaxId);
                    }
                });
            }

            var row = $("#prd-" + id);
            $(row).closest("tr").remove();

            for (var i = 0; i < jsonarr.length; i++) {
                if (jsonarr[i].PrdId == id) {
                    var deletedItem = jsonarr.splice(i, 1);
                }
            }

        });

        $(document).on('click', '.deletebtn', function () {

            debugger;
            var checkstr = confirm('Are you sure to delete this record?');
            if (checkstr == true) {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var totaldt = $buttonClicked.attr('data-total');
                var taxdt = $buttonClicked.attr('data-tax');
                var grnddt = $buttonClicked.attr('data-grnd');

                var totalamt = parseFloat($('#Total').val());
                var tax = parseFloat($('#TaxAmount').val());
                var grndamt = parseFloat($('#GrandTotal').val());

                finaltotal = 0;finaltax =0;finalgrnd = 0;

                var table = document.getElementById("datatables");
                for (var i = 1; i < table.rows.length; i++) {

                    if (table.rows[i].cells[0].innerHTML == id) {

                        finaltotal = totalamt - parseFloat(table.rows[i].cells[5].innerHTML);
                        finaltax = tax - parseFloat(table.rows[i].cells[8].innerHTML);
                        finalgrnd = grndamt - parseFloat(table.rows[i].cells[9].innerHTML);
                        break;
                    }
                }

                $('#Total').val(parseFloat(finaltotal).toFixed(2));
                $('#TaxAmount').val(parseFloat(finaltax).toFixed(2));
                $('#GrandTotal').val(parseFloat(finalgrnd).toFixed(2));

                var row = $("#prd-" + id);
                $(row).closest("tr").remove();

                for (var i = 0; i < jsonarr.length; i++) {
                    if (jsonarr[i].PrdId == id) {
                        var deletedItem = jsonarr.splice(i, 1);
                    }
                }
            }
            else {
                return false;
            }
        });


        // save sale order method
        function SaveHandler() {

            debugger;
            $("#btnSaleSubmit").attr("disabled", true);

            var grnd = $('#GrandTotal').val();

            var saleDetails = new Array();

            $("#datatables tr:not(:first)").each(function () {
                var tds = $(this).find("td");
                        var items = {
                            'ProductId': $(tds[0]).html(), 'SizeId': $(tds[3]).html(), 'SaleQty': $(tds[3]).html(), 'SaleRate': $(tds[4]).html(), 'Total': $(tds[5]).html(), 'TaxId': $(tds[6]).html(), 'TaxAmount': $(tds[8]).html(), 'GrandTotal': $(tds[9]).html()
                        }
                         saleDetails.push(items);
                    });

            var SoData = JSON.stringify({
                "SaleId": $('#SaleId').val(),
                "SaleDate": $('#SaleDate').val(),
                "CustomerName": $('#CustomerName').val(),
                "Contact": $('#Contact').val(),
                "SaleNo": $('#SaleNo').val(),
                "SalesmanId": $('#SalesmanId').val(),
                "SalesmanNo": $('#SalesmanNo').val(),
                "Total": $('#Total').val(),
                "TaxAmount": $('#TaxAmount').val(),
                "GrandTotal": $('#GrandTotal').val(),
                "UserId": $('#UserId').val(),
                "UserName": $('#UserName').val(),
                "saleDetails": saleDetails,
            });

            var WebUIUrl = $("#WebUIUrl").val();

            $.ajax({
                    type: "POST",
                    url: WebUIUrl + "/Sale/Sale/Save",
                    data: SoData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    cache: false,
                    success: function (data) {

                              debugger;

                                if (data == true) {

                                    var url = WebUIUrl + "/Sale/Sale/GetSale?userId=@ViewBag.UserId&userName=@ViewBag.UserName";

                                    return window.location.href = url;

                                }
                                else {
                                    $("#btnSaleSubmit").attr("disabled", false);
                                }
                            },
                            error: function (errorThrown) {
                                $("#btnSaleSubmit").attr("disabled", false);
                                alert(errorThrown);
                            }
                        });
        }

        $(".cancel").click(function () {

            var CloseURL = $("#WebUIUrl").val() + '/Sale/Sale/GetSale?userId=@ViewBag.UserId&userName=@ViewBag.UserName';

                return window.location.href = CloseURL;
        });

        $(".emptycart").click(function () {

            debugger;
            var checkstr = confirm('Are you sure to discard cart details?');
                if (checkstr == true) {

                   // $("#datatables tr").remove();

                    $("#datatables").find("tr:not(:first)").remove();

                    $('#Total').val(0);
                    $('#TaxAmount').val(0);
                    $('#GrandTotal').val(0);
                }
                else {
                    return false;
                }

        });


        // save sale order method
        function SaveCart() {

            debugger;
            $("#btnsuspendCart").attr("disabled", true);

            var cust = $('#Contact').val();
            if (cust == "") {
                alert("please enter customer contact");
                $("#btnsuspendCart").attr("disabled", false);
                return false;
            }

            var totalRowCount = $("#datatables tr:not(:first)").length;

            if (totalRowCount == 0) {
                alert("please enter product details");
                $("#btnsuspendCart").attr("disabled", false);
                return false;
            }

            var cartDetails = new Array();

            $("#datatables tr:not(:first)").each(function () {
                var tds = $(this).find("td");

                debugger;

                var dt1 = $(tds[0]).html();

                var dt2 = ".prd" + dt1;

                var qtyvalue = $('' + dt2 + '').val();

                var items = {
                                 //'Qty': $(tds[3]).html(),
                    'ProductId': $(tds[0]).html(), 'SizeId': $(tds[3]).html(), 'Qty': qtyvalue, 'Rate': $(tds[5]).html(), 'Total': $(tds[6]).html(), 'TaxId': $(tds[7]).html(), 'TaxAmount': $(tds[9]).html(), 'Discount': $(tds[10]).html(), 'GrandTotal': $(tds[11]).html(), "UserId": $('#UserId').val(),"UserName": $('#UserName').val(),
                        }
                         cartDetails.push(items);
                     });

                var SoData = JSON.stringify({
                    "Contact": $('#Contact').val(),
                    "Total": $('#Total').val(),
                    "TaxAmount": $('#TaxAmount').val(),
                    "Discount": $('#Discount').val(),
                    "GrandTotal": $('#GrandTotal').val(),
                    "UserId": $('#UserId').val(),
                    "UserName": $('#UserName').val(),
                     "cartDetails": cartDetails,
                  });

            var WebUIUrl = $("#WebUIUrl").val();

            $.ajax({
                    type: "POST",
                    url: WebUIUrl + "/Sale/Sale/SaveCart",
                    data: SoData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    cache: false,
                    success: function (data) {

                              debugger;

                                if (data == true) {

                                    var url = WebUIUrl + "/Sale/Sale/GetSale?userId=@ViewBag.UserId&userName=@ViewBag.UserName";

                                    return window.location.href = url;

                                }
                                else {
                                    $("#btnsuspendCart").attr("disabled", false);
                                }
                            },
                            error: function (errorThrown) {
                                $("#btnsuspendCart").attr("disabled", false);
                                alert(errorThrown);
                            }
                        });
        }


        function EditSave() {

            $("#btnEditSave").attr("disabled", true);

            $("#overlay").fadeIn(300);

            var grnd = $('#GrandTotal').val();

            var saleDetails = new Array();

            $("#datatables tr:not(:first)").each(function () {

                var tds = $(this).find("td");

                var dt1 = $(tds[0]).html();

                var dt2 = ".prd" + dt1;

                var qtyvalue = $('' + dt2 + '').val();

                var items = {
                    'ProductId': $(tds[0]).html(), 'SizeId': $(tds[3]).html(), 'SaleQty': qtyvalue, 'SaleRate': $(tds[5]).html(), 'Total': $(tds[6]).html(), 'TaxId': $(tds[7]).html(), 'TaxAmount': $(tds[9]).html(), 'Discount': $(tds[10]).html(), 'GrandTotal': $(tds[11]).html()
                }
                saleDetails.push(items);
            });


            var SoData = JSON.stringify({
                "SaleId": $('#SaleId').val(),
                "SaleDate": $('#SaleDate').val(),
                "CustomerName": $('#CustomerName').val(),
                "Contact": $('#Contact').val(),
                "SaleNo": $('#SaleNo').val(),
                "SalesmanId": $('#SalesmanId').val(),
                "SalesmanNo": $('#SalesmanNo').val(),
                "Total": $('#Total').val(),
                "TaxAmount": $('#TaxAmount').val(),
                "GrandTotal": $('#GrandTotal').val(),
                "UserId": $('#UserId').val(),
                "UserName": $('#UserName').val(),
                "OrderStatusId": $('#OrderStatusId').val(),
                "saleDetails": saleDetails,
            });

            var WebUIUrl = $("#WebUIUrl").val();

            $.ajax({
                type: "POST",
                url: WebUIUrl + "/Sale/Sale/Save",
                data: SoData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                cache: false,
                success: function (data) {

                    debugger;

                    if (data > 0) {

                        var url = WebUIUrl + "/Sale/Sale/GetSale?userId=@ViewBag.UserId&userName=@ViewBag.UserName";

                       return window.location.href = url;

                    }
                    else {
                        $("#btnpopuppay").attr("disabled", false);
                    }
                },
                error: function (errorThrown) {
                    $("#btnpopuppay").attr("disabled", false);
                    alert(errorThrown);
                }
            }).done(function () {
                setTimeout(function () {
                    $("#overlay").fadeOut(300);
                }, 500);
            });;

         }

    </script>

    <script>
        //plugin bootstrap minus and plus
        //http://jsfiddle.net/laelitenetwork/puJ6G/

        $(document).on('click', '.btn-number', function (e) {

            debugger;
            e.preventDefault();

            id = $(this).attr('data-id');
            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            action = $(this).attr('data-action');
            rate = $(this).attr('data-rate');
            tax = $(this).attr('data-tax');

            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {
                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                        $(".btn-number[data-action='plus" + id + "']").removeAttr('disabled')
                        //$(".btn-number[data-type='plus']").removeAttr('disabled')
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                    var newrate = parseFloat(rate) * parseFloat(input.val());
                    var newgrnd = parseFloat(newrate) + parseFloat(tax);


                    var table = document.getElementById("datatables");
                    for (var i = 0, row; row = table.rows[i]; i++) {

                        if (i != 0) {

                            for (var j = 0, col; col = row.cells[j]; j++) {

                                if (col.innerHTML == id) {

                                    var x = document.getElementById('datatables').rows[parseInt(i, 10)].cells;
                                    x[parseInt(6, 10)].innerHTML = newrate;
                                    x[parseInt(10, 10)].innerHTML = newgrnd;
                                    break;
                                }
                                continue;
                            }
                        }
                    }

                    totalVal = 0; taxVal = 0; grandVal = 0;
                    for (var i = 1; i < table.rows.length; i++) {
                        totalVal = totalVal + parseFloat(table.rows[i].cells[6].innerHTML);
                        taxVal = taxVal + parseFloat(table.rows[i].cells[9].innerHTML);
                        grandVal = grandVal + parseFloat(table.rows[i].cells[11].innerHTML);
                    }

                    totalamt = 0; tax = 0; grndamt = 0;
                    totalamt += parseFloat(totalVal);
                    tax += parseFloat(taxVal);
                    grndamt += parseFloat(grandVal);

                    $('#Total').val(totalamt.toFixed(2));
                    $('#TaxAmount').val(tax.toFixed(2));
                    $('#GrandTotal').val(grndamt.toFixed(2));

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                        $(this).attr('disabled', false);
                        $(".btn-number[data-action='minus" + id + "']").removeAttr('disabled')
                        //$(".btn-number[data-type='minus']").removeAttr('disabled')
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                    var newrate = parseFloat(rate) * parseFloat(input.val());
                    var newgrnd = parseFloat(newrate) + parseFloat(tax);

                    var table = document.getElementById("datatables");
                    for (var i = 0, row; row = table.rows[i]; i++) {

                        if (i != 0) {

                            for (var j = 0, col; col = row.cells[j]; j++) {

                                if (col.innerHTML == id) {

                                    var x = document.getElementById('datatables').rows[parseInt(i, 10)].cells;
                                    x[parseInt(6, 10)].innerHTML = newrate;
                                    x[parseInt(11, 10)].innerHTML = newgrnd;
                                    break;
                                }
                                continue;
                            }
                        }
                    }

                    totalVal = 0; taxVal = 0; grandVal = 0;
                    for (var i = 1; i < table.rows.length; i++) {
                        totalVal = totalVal + parseFloat(table.rows[i].cells[6].innerHTML);
                        taxVal = taxVal + parseFloat(table.rows[i].cells[9].innerHTML);
                        grandVal = grandVal + parseFloat(table.rows[i].cells[11].innerHTML);
                    }

                    totalamt = 0; tax = 0; grndamt = 0;

                    totalamt += parseFloat(totalVal);
                    tax += parseFloat(taxVal);
                    grndamt += parseFloat(grandVal);

                    $('#Total').val(totalamt.toFixed(2));
                    $('#TaxAmount').val(tax.toFixed(2));
                    $('#GrandTotal').val(grndamt.toFixed(2));

                }
            } else {
                input.val(0);
            }
        });

        $(document).on('blur', '.input-discount', function (e) {

            debugger;
            e.preventDefault();

            id = $(this).attr('data-id');
            fieldName = $(this).attr('data-field');
            grnd = $(this).attr('data-grnd');

            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());

            if (!isNaN(currentVal)) {

                var newgrnd = parseFloat(grnd) - parseFloat(currentVal);

                var table = document.getElementById("datatables");
                for (var i = 0, row; row = table.rows[i]; i++) {

                    if (i != 0) {

                        for (var j = 0, col; col = row.cells[j]; j++) {

                            if (col.innerHTML == id) {

                                var x = document.getElementById('datatables').rows[parseInt(i, 10)].cells;
                                x[parseInt(11, 10)].innerHTML = newgrnd;
                                break;
                            }
                            continue;
                        }
                    }
                }

                grandVal = 0;
                for (var i = 1; i < table.rows.length; i++) {
                    grandVal = grandVal + parseFloat(table.rows[i].cells[11].innerHTML);
                }

                $('#GrandTotal').val(grandVal.toFixed(2));

            } else {
                input.val(0);
            }
        });

        //$('.btn-number').click(function (e) {

        //    debugger;
        //    e.preventDefault();

        //    id = $(this).attr('data-id');
        //    fieldName = $(this).attr('data-field');
        //    type = $(this).attr('data-type');
        //    action = $(this).attr('data-action');
        //    var input = $("input[name='" + fieldName + "']");
        //    var currentVal = parseInt(input.val());
        //    if (!isNaN(currentVal)) {
        //        if (type == 'minus') {
        //            if (currentVal > input.attr('min')) {
        //                input.val(currentVal - 1).change();
        //                $(".btn-number[data-action='plus" + id + "']").removeAttr('disabled')
        //                //$(".btn-number[data-type='plus']").removeAttr('disabled')
        //            }
        //            if (parseInt(input.val()) == input.attr('min')) {
        //                $(this).attr('disabled', true);
        //            }

        //        } else if (type == 'plus') {

        //            if (currentVal < input.attr('max')) {
        //                input.val(currentVal + 1).change();
        //                $(this).attr('disabled', false);
        //                $(".btn-number[data-action='minus" + id + "']").removeAttr('disabled')
        //                //$(".btn-number[data-type='minus']").removeAttr('disabled')
        //            }
        //            if (parseInt(input.val()) == input.attr('max')) {
        //                $(this).attr('disabled', true);
        //            }

        //        }
        //    } else {
        //        input.val(0);
        //    }
        //});
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            debugger;

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }

        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    </script>
}
