﻿
@model Meridukan_WEBUI.Areas.Sale.Models.OrderStatus

@{
    Layout = null;
}

@Html.HiddenFor(m => m.SaleId)
<div>
    @*<div class="modal-content">*@
    <div class="modal-header">
        <h5 class="modal-title">Change Order Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            @Html.DropDownList("OrderStatusId", ViewBag.OrderStatusList as SelectList, "Select Order Status", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OrderStatusId, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" id="btnsave" class="btn btn-success update" style="margin-right:5px;">Update</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>

    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>

    @*</div>*@
</div>



