﻿
@{
    List<Meridukan_WEBUI.Areas.Sale.Models.PopularTenderedValues> valueList = ViewData["Tenderedvalues"] as List<Meridukan_WEBUI.Areas.Sale.Models.PopularTenderedValues>;
}

<style>

    .clsamount {
        text-align: right;
    }

    .presets-buttons {
        /*display: flex;*/
        align-items: center;
        margin-bottom: 10px;
    }

        .presets-buttons button:first-child {
            margin-left: 0;
        }

        .presets-buttons button {
            border: 1px solid #dadada;
            background: #fff;
            color: #4357569c;
            font-size: 1em;
            flex: auto;
            max-height: 50px;
            width: auto;
            margin-right: 5px;
            transition: all linear .3s;
        }

        .presets-buttons button, .calculator-buttons button {
            margin: 3px;
            cursor: pointer;
        }

    .calculator-buttons {
        max-width: 605px;
    }

    .payment-modal .calculator-buttons {
        max-width: 605px;
    }

    .calculator-buttons button i {
        color: #a7a7a7;
    }

    [class^=yith-pos-icon-], [class*=" yith-pos-icon-"] {
        font-family: yith-pos-icon !important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .numeric-register-controller .calculator-buttons {
        display: inline-grid;
        grid-template-columns: repeat(4,1fr);
        border-bottom: 1px solid #d7d7d7;
        border-left: 1px solid #d7d7d7;
        background: 0 0;
        padding: 0;
        /*max-width: 550px;*/
    }

    .calculator-buttons {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        border: 0;
        max-width: 315px;
        box-sizing: border-box;
        padding: 3px;
        background-color: #f4f4f4;
        font-size: 21px;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h4 class="modal-title">
            Payment
        </h4>
    </div>

    <div class="modal-body" id="modalbody">

        <div class="row">

            <div class="col-md-4">

                <div class="form-group">
                    <label class="bmd-label-floating">Total Due</label>
                    <input type="text" class="form-control clsamount" id="totaldue" disabled>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating">Total Paying</label>
                    <input type="text" class="form-control clsamount" id="totalpay" disabled>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating">Balance</label>
                    <input type="text" class="form-control clsamount" id="balance" disabled>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating">Change</label>
                    <input type="text" class="form-control clsamount" id="change" disabled>
                </div>
            </div>

            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group AmtPay">
                            <label class="bmd-label-floating">Amount paying</label>
                            <input type="text" class="form-control" id="amountpay" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Payment option</label>
                            <select class="form-select" name="options" id="options">
                                <option value="Cash">Cash</option>
                                <option value="Cash">Direct bank transfer</option>
                                <option value="COD">Cash on delivery</option>
                                <option value="PayPal">PayPal</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="numeric-register-controller">
                    <div class="labelPresets">Popular tendered</div>
                    <div class="presets-buttons">

                        @foreach (var item in valueList)
                        {
                            var id = string.Concat("payvalue", item.Id);
                            var fn = string.Concat("popular","(", item.Id,")");
                           
                            <button id="@id" type="button" style="width:100px;" onclick="@fn;">@item.Value.ToString("F")</button>
                        }
                    </div>
                    <div class="calculator-buttons col-md-12">
                        <button style="background-color:white;" onclick="calculator(1);">1</button>
                        <button style="background-color:white;" onclick="calculator(2);">2</button>
                        <button style="background-color:white;" onclick="calculator(3);">3</button>
                        <button class="large" style="background-color:white;" onclick="calclear(0);"><small>clear</small></button>
                        <button style="background-color:white;" onclick="calculator(4);">4</button>
                        <button style="background-color:white;" onclick="calculator(5);">5</button>
                        <button style="background-color:white;" onclick="calculator(6);">6</button>
                        <button type="button" onclick="calclear(1);"><i class="fas fa-arrow-alt-left" "></i></button>
                        <button style="background-color:white;" onclick="calculator(7);">7</button>
                        <button style="background-color:white;" onclick="calculator(8);">8</button>
                        <button style="background-color:white;" onclick="calculator(9);">9</button>
                        <button class="btn btn-success finalpay" type="button" id="btnpopuppay">Pay</button>
                        <button style="background-color:white;" onclick="calculator(0);">0</button>
                        <button style="background-color:white;" onclick="caldot();">.</button>
                        <button style="background-color:white;" onclick="calculator(00);">00</button>
                        <button class="btn btn-fill btn-warning back" type="button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function popular(a) {

        debugger;

        if (a == 1) {
            popularpay = $('#payvalue1').html();
            $('#amountpay').val(popularpay);
            $('.AmtPay').addClass('is-filled');
            $('#totalpay').val(popularpay);
            $('#balance').val(0);
            $('#change').val(0);
        }
        else if (a == 2 || a == 3 || a == 4) {

            var popularpay = '';
            if (a == 2) {
                popularpay = $('#payvalue2').html();
            }
            if (a == 3) {
                popularpay = $('#payvalue3').html();
            }
            if (a == 4) {
                popularpay = $('#payvalue4').html();
            }

            
            $('#amountpay').val(popularpay);
            amountpay = $('#amountpay').val();
            totaldue = parseFloat($('#totaldue').val());
            $('.AmtPay').addClass('is-filled');
            $('#totalpay').val(popularpay);

            if (amountpay > totaldue) {

                $('#balance').val(0);
                totalchange = parseFloat(amountpay) - parseFloat(totaldue);
                $('#change').val(totalchange);
            }
        }
    };

    function calculator(a) {

        debugger;
        amountpay = $('#amountpay').val();
        amountpay = amountpay + a;
        $('#amountpay').val(amountpay);
        $('.AmtPay').addClass('is-filled');
        totaldue = parseFloat($('#totaldue').val());
        $('#totalpay').val(amountpay);

        if (amountpay > totaldue) {

            $('#balance').val(0);
            totalchange = parseFloat(amountpay) - parseFloat(totaldue);
            $('#change').val(totalchange);
        }
        else {
            bal = parseFloat(totaldue) - parseFloat(amountpay);
            $('#balance').val(bal);
            $('#change').val(0);
        }
    };

    function calclear(a) {

        debugger;

        if (a == 0) {
            $('#amountpay').val('');

            totaldue = parseFloat($('#totaldue').val());
            $('#totalpay').val(0);
            $('#balance').val(totaldue);
            $('#change').val(0);
        }

        if (a == 1) {

            amountpay = $('#amountpay').val();
            paydt = Math.floor(amountpay / 10);
            $('#amountpay').val(paydt);

            totaldue = parseFloat($('#totaldue').val());
            bal = parseFloat(totaldue) - parseFloat(paydt);

            $('#totalpay').val(paydt);
            $('#balance').val(bal);
            $('#change').val(0);
        }
    };

    function caldot() {

        debugger;

        amountpay = $('#amountpay').val();

        if (amountpay == "") {

            amountpay = "0.";
        }
        else {
            amountpay = amountpay + ".";
        }

        $('#amountpay').val(amountpay);

        $('.AmtPay').addClass('is-filled');

    };

</script>




