﻿
@{
    Meridukan_WEBUI.Areas.Sale.Models.SaleModel saleModel = ViewData["ViewSalePrint"] as Meridukan_WEBUI.Areas.Sale.Models.SaleModel;
}

<style>

    .modal{
        top : -90px !important;
    }

    .modalbtn {
        height: 30px;
        margin-top: -6px;
        margin-right: 15px;
        cursor: pointer;
        float: right;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        filter: alpha(opacity=20);
        opacity: .9;
        font-family: 'ROBOTO-REGULAR','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    /*.modal-content {
            font-family: ROBOTO-REGULAR;
        }*/

    .modal.in .modal-dialog {
        -webkit-transform: translate(0,5%);
        -ms-transform: translate(0,5%);
        -o-transform: translate(0,5%);
        transform: translate(0,5%);
    }

    .modal-title {
        line-height: 1;
    }
</style>


<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">
            Payment Receipt

              <span style="float:right;margin-right:80px;cursor:pointer;" title="Print Receipt" class="print"><i class="fa fa-print" aria-hidden="true"></i></span>
        </h4>
    </div>

    <div class="modal-body" id="modalbody">
        <div class="container" style="border:1px solid;font-size:17px;">
            <div class="row">
                <div class="col-md-6" style="margin-top:8px;float: left;">
                    <div class="" style="text-align:left;margin-left:15px;">
                        <span>
                            <b>Sale No. :</b> @saleModel.SaleNo
                        </span>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top:8px;float: left;">
                    <div class="" style="text-align:left;margin-left:15px;">
                        <span>
                            <b>Sale Date :</b> @Convert.ToString(string.Format("{0:dd-MM-yyyy}", saleModel.SaleDate))
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-8">
                        <span>
                            <b>Contact :</b> @saleModel.Contact
                        </span>
                        <br>
                        <span>
                            <b>Name &nbsp;&nbsp;   :</b> @saleModel.CustomerName
                        </span>
                        <br />
                        <span style="word-break: break-all;">
                            <b>Address :</b>
                        </span>
                        @*<br>
                    <span style="word-break: break-all;">
                        <b>Email Id :</b> amy21690@gmail.com
                    </span>*@
                    </div>
                </div>
            </div>
            <hr style="border:1px solid;color:#dcdcdc">

            @{ decimal total = 0, taxamt = 0, grnd = 0;}

            <table class="table table-bordered" style="text-align:center;">
                <thead style="background-color:#6969691f;">
                    <tr>
                        <th style="text-align:center;">Product</th>
                        <th style="text-align:center;">Quantity</th>
                        <th style="text-align:center;">Amount</th>
                        <th style="text-align:center;">Total</th>
                        <th style="text-align:center;">Tax</th>
                        <th style="text-align:center;">Tax Amount</th>
                        <th style="text-align:center;">Grand Total</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in saleModel.saleDetails)
                    {
                        total += item.Total;
                        taxamt += item.TaxAmount;
                        grnd += item.GrandTotal;

                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.SaleQty</td>
                            <td>@item.SaleRate</td>
                            <td>@item.Total</td>
                            <td>@item.TaxName</td>
                            <td>@item.TaxAmount</td>
                            <td>@item.GrandTotal</td>
                        </tr>
                    }

                </tbody>
            </table>           
            <div class="col-md-12" style="text-align:right;font-size:15px;">
                <b> Total </b> : @total.ToString("F") <br />
            </div>
            <div class="col-md-12" style="text-align:right;font-size:15px;">
                <b> Tax </b> :   @taxamt.ToString("F")   <br />
            </div>
            <div class="col-md-12" style="text-align:right;font-size:15px;">
                <b> GrandTotal </b> : @grnd.ToString("F")
            </div>
        </div>
    </div>
</div>

