﻿@model Meridukan_WEBUI.Areas.Category.Models.CategoryModel

@{
    ViewBag.Title = "Category";
    Layout = null;
}

@Html.HiddenFor(m => m.Id)
<div>
    @*<div class="modal-content">*@
    <div class="modal-header">
        <h5 class="modal-title">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Category Name <span style="color: red"> *</span> </label>
            @Html.TextBoxFor(m => m.Name, new { @maxlength = "50", @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <form>
            <label for="UploadImg" style="cursor:pointer;">Click here to upload your image!</label>
            <input id="UploadImg" type="file" accept="image/png, image/jpeg" style="display:none;" />
            <img id="imgPreview" height="160" width="240" src="~/Content/assets/img/image_placeholder.jpg" />
            @Html.HiddenFor(m => m.ImagePath)            
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnsave" class="btn btn-success save" style="margin-right:5px;">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
    @*</div>*@
</div>
<script>

    $(function () {

        debugger;
        var Id = $("#Id").val();
        var ImagePath = $("#ImagePath").val();

        if (Id > 0) {
            $("#imgPreview").attr('src', ImagePath);
        }
    });

</script> 
 

