﻿@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Meridukan_WEBUI.Areas.Category.Models.CategoryModel> categoryList = ViewData["GetCategoryList"] as List<Meridukan_WEBUI.Areas.Category.Models.CategoryModel>;
}




<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <button class="btn btn-info anchorDetailCall">Add Category</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Category List</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!-- Here you can write extra buttons/actions for the toolbar -->
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Image </th>
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                            </thead>
                            @*<tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </tfoot>*@
                            <tbody>

                                @foreach (var item in categoryList)
                                {
                                <tr>
                                    <td>@item.Name</td>
                                    <td><img src="@item.ImagePath" style="width: 100px;" alt="No Img" /></td>                                    
                                    <td class="text-right">
                                        <a href="#" class="btn btn-link btn-warning btn-just-icon edit anchorDetailCall" data-id="@item.Id"><i class="material-icons">edit</i></a>
                                        <a href="#" class="btn btn-link btn-danger btn-just-icon remove" data-id="@item.Id"><i class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>


<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


@section scripts
{

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>

    @*<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-confirm-delete.js"></script>*@

    <script>

        var ImageUploadURL = $("#WebUIUrl").val() + '/Category/Category/UploadFile';
        var CategorySaveURL = $("#WebUIUrl").val() + '/Category/Category/AddOrUpdateCategory';
        var CategoryDetailURL = $("#WebUIUrl").val() + '/Category/Category/CategoryDetails';
        var CategoryDeleteURL = $("#WebUIUrl").val() + '/Category/Category/DeleteCategory';

        $(function () {

            $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }
            });

            var table = $('#datatables').DataTable();

            $(".anchorDetailCall").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                if (id == undefined)
                    id = 0;
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: CategoryDetailURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            $(document).on('click', '#btnsave', function () {

                debugger;
                var categoryId = $("#Id").val();
                var categoryName = $("#Name").val();

                if (categoryName == "") {                    
                    $("#Name").after("<div class='validation mb-v' style='color:red;'>Category Name is required</div>");
                    return;
                }
                else {
                    
                    $("#Name").next(".validation").remove();
                }


                var Data = {
                    Id: categoryId,
                    Name: categoryName,
                    ImagePath: $("#ImagePath").val(),
                    ImageName: $("#ImageName").val(),
                };

                $.ajax({
                    type: "POST",
                    url: CategorySaveURL,
                    data: JSON.stringify(Data),
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        if (data == "True") {
                           // $('#myModal').modal('hide');
                            window.location.reload();
                        }
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $(".remove").click(function () {
                debugger;

                if (confirm("Are you sure to delete?")) {

                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };

                    var Data = {
                        CategoryId: id
                    };


                    $.ajax({
                        type: "POST",
                        url: CategoryDeleteURL,
                        data: JSON.stringify(Data),
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            if (data == true) {
                                var row = $("#Category-" + id);
                                $(row).closest("tr").remove();
                            }
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                }

            });

            $(document).on('change', '#UploadImg', function () {

                debugger;

                var data = new FormData();
                var files = $("#UploadImg").get(0).files;
                if (files.length > 0) {
                    data.append("MyImages", files[0]);
                }

                $.ajax({
                    url: ImageUploadURL,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        //code after success
                        debugger;
                        $("#ImageName").val(response);
                        $("#ImagePath").val('/Uploads/' + response);
                        $("#imgPreview").attr('src', '/Uploads/' + response);
                    },
                    error: function (er) {
                        alert(er);
                    }

                });


            });
        });

    </script>

} 
