﻿<!DOCTYPE html>
<html lang="en">
<!-- /examples/dashboard.html , Tue, 14 May 2019 06:09:21 GMT -->
<!-- Added by Material Design -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by Material Design -->
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"] - Meri Dukaan</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--  Social tags      -->
    <meta name="keywords" content="Material Design, html dashboard, html css dashboard, web dashboard, bootstrap 4 dashboard, bootstrap 4, css3 dashboard, bootstrap 4 admin, material dashboard bootstrap 4 dashboard, frontend, responsive bootstrap 4 dashboard, material design, material dashboard bootstrap 4 dashboard">
    <meta name="description" content="Material Dashboard PRO is a Premium Material Bootstrap 4 Admin with a fresh, new design inspired by Google's Material Design.">
    <meta property="og:description" content="Material Dashboard PRO is a Premium Material Bootstrap 4 Admin with a fresh, new design inspired by Google's Material Design." />
    <meta property="og:site_name" content="Material Design" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="~/Content/assets/fontawesome/css/all.min.css">
    <!-- CSS Files -->
    <link href="~/Content/assets/css/material-dashboard.minf066.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/assets/demo/demo.css" rel="stylesheet" />
</head>
<body class="">

    <div class="wrapper ">
        <div class="sidebar" data-color="rose" data-background-color="black" data-image="~/Content/assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="@Url.Action("Index","Home",new { userId = ViewBag.UserId, userName = ViewBag.UserName })" class="simple-text logo-mini">

                </a>
                <a href="@Url.Action("Index","Home",new { userId = ViewBag.UserId, userName = ViewBag.UserName })" class="simple-text logo-normal">
                    Meri Dukaan
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active" id="1">
                        <a class="nav-link" href="@Url.Action("Index","Home",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                            <i class="material-icons">dashboard</i>
                            <p> Dashboard </p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#masterforms">
                            <i class="material-icons">content_paste</i>
                            <p>
                                Master
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="masterforms">
                            <ul class="nav">
                                <li class="nav-item " id="2">
                                    <a class="nav-link" href="@Url.Action("GetStore","Store/Store",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Store </span>
                                    </a>
                                </li>
                                <li class="nav-item " id="15">
                                    <a class="nav-link" href="@Url.Action("GetSize","Size/Size",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Size </span>
                                    </a>
                                </li>
                                <li class="nav-item " id="16">
                                    <a class="nav-link" href="@Url.Action("GetColor","Color/Color",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Color </span>
                                    </a>
                                </li>
                                <li class="nav-item " id="3">
                                    <a class="nav-link" href="@Url.Action("GetBrand","Brand/Brand",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Brand </span>
                                    </a>
                                </li>
                                <li class="nav-item " id="4">
                                    <a class="nav-link" href="@Url.Action("GetCategory","Category/Category",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Category </span>
                                    </a>
                                </li>
                                <li class="nav-item " id="5">
                                    <a class="nav-link" href="@Url.Action("GetSubcategory","Subcategory/Subcategory",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Subcategory </span>
                                    </a>
                                </li>
                                <li class="nav-item " id="6">
                                    <a class="nav-link" href="@Url.Action("GetSubstitude","Substitudecategory/Substitudecategory",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Substiude Category </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="7">
                                    <a class="nav-link" href="@Url.Action("GetTax","Tax/Tax",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Tax</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="8">
                                    <a class="nav-link" href="@Url.Action("GetSupplier","Supplier/Supplier",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Supplier </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="19">
                                    <a class="nav-link" href="@Url.Action("GetCustomer","Customer/Customer",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Customer </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="18">
                                    <a class="nav-link" href="@Url.Action("GetSalesman","Salesman/Salesman",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Salesman </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="13">
                                    <a class="nav-link" href="@Url.Action("GetTransport","Transport/Transport",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Transporter </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#CouponExamples">
                            <i class="material-icons">image</i>
                            <p>
                                Coupon & Offer
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="CouponExamples">
                            <ul class="nav">
                                <li class="nav-item" id="111">
                                    <a class="nav-link" href="@Url.Action("GetDiscountType","DiscountType/DiscountType",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Discount Type</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="112">
                                    <a class="nav-link" href="@Url.Action("GetCouponList","Coupon/Coupon",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Coupon</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="113">
                                    <a class="nav-link" href="@Url.Action("GetOfferList","Offer/Offer",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Offer</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#InvExamples">
                            <i class="material-icons">image</i>
                            <p>
                                Inventory
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="InvExamples">
                            <ul class="nav">

                                <li class="nav-item" id="9">
                                    <a class="nav-link" href="@Url.Action("GetProduct","Product/Product",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Product</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="10">
                                    <a class="nav-link" href="@Url.Action("GetPurchase","Purchase/Purchase",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Purchase Order </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="14">
                                    <a class="nav-link" href="@Url.Action("GetGRN","GRN/GRN",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> GRN </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="17">
                                    <a class="nav-link" href="@Url.Action("GetSale","Sale/Sale",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Sale </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#UserExamples">
                            <i class="material-icons">apps</i>
                            <p>
                                User Setting
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="UserExamples">
                            <ul class="nav">
                                <li class="nav-item" id="11">
                                    <a class="nav-link" href="@Url.Action("Role","Role/Role",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Add Role </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="12">
                                    <a class="nav-link" href="@Url.Action("User","User/User",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Add User </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="222">
                                    <a class="nav-link" href="@Url.Action("GetDeliveryPinCode","DeliveryPinCode/DeliveryPinCode",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Add Delivery Pin Code </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item ">
                        <a class="nav-link" data-toggle="collapse" href="#ReportExamples">
                            <i class="material-icons">apps</i>
                            <p>
                                Reports
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="ReportExamples">
                            <ul class="nav">
                                <li class="nav-item" id="cust">
                                    <a class="nav-link" href="@Url.Action("CustomerList","Report/Report",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Customer </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="ledger">
                                    <a class="nav-link" href="@Url.Action("LedgerReport","Report/Report",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Ledger </span>
                                    </a>
                                </li>
                                <li class="nav-item" id="qr">
                                    <a class="nav-link" href="@Url.Action("QrGeneration","Report/Report",new { userId = ViewBag.UserId, userName = ViewBag.UserName })">
                                        <span class="sidebar-normal"> Qr Generation </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                                <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                                <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        @*<form class="navbar-form">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>*@
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="@Url.Action("LogOut","Account",new { userName = ViewBag.UserName })">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                @RenderBody()

            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        @*<ul>
                                <li>
                                    <a href="http://material.retek.vn/">
                                        Material Design
                                    </a>
                                </li>
                                <li>
                                    <a href="http://material.retek.vn/">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="http://material.retek.vn/">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="http://material.retek.vn/">
                                        Licenses
                                    </a>
                                </li>
                            </ul>*@
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>@*, made with <i class="material-icons">favorite</i> by
                            <a href="http://material.retek.vn/" target="_blank">Material Design</a> for a better web.*@
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @*<div class="fixed-plugin">
            <div class="dropdown show-dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="fa fa-cog fa-2x"> </i>
                </a>
                <ul class="dropdown-menu">
                    <li class="header-title"> Sidebar Filters</li>
                    <li class="adjustments-line">
                        <a href="javascript:void(0)" class="switch-trigger active-color">
                            <div class="badge-colors ml-auto mr-auto">
                                <span class="badge filter badge-purple" data-color="purple"></span>
                                <span class="badge filter badge-azure" data-color="azure"></span>
                                <span class="badge filter badge-green" data-color="green"></span>
                                <span class="badge filter badge-warning" data-color="orange"></span>
                                <span class="badge filter badge-danger" data-color="danger"></span>
                                <span class="badge filter badge-rose active" data-color="rose"></span>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li class="header-title">Sidebar Background</li>
                    <li class="adjustments-line">
                        <a href="javascript:void(0)" class="switch-trigger background-color">
                            <div class="ml-auto mr-auto">
                                <span class="badge filter badge-black active" data-background-color="black"></span>
                                <span class="badge filter badge-white" data-background-color="white"></span>
                                <span class="badge filter badge-red" data-background-color="red"></span>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li class="adjustments-line">
                        <a href="javascript:void(0)" class="switch-trigger">
                            <p>Sidebar Mini</p>
                            <label class="ml-auto">
                                <div class="togglebutton switch-sidebar-mini">
                                    <label>
                                        <input type="checkbox">
                                        <span class="toggle"></span>
                                    </label>
                                </div>
                            </label>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li class="adjustments-line">
                        <a href="javascript:void(0)" class="switch-trigger">
                            <p>Sidebar Images</p>
                            <label class="switch-mini ml-auto">
                                <div class="togglebutton switch-sidebar-image">
                                    <label>
                                        <input type="checkbox" checked="">
                                        <span class="toggle"></span>
                                    </label>
                                </div>
                            </label>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li class="header-title">Images</li>
                    <li class="active">
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="~/Content/assets/img/sidebar-1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="~/Content/assets/img/sidebar-2.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="~/Content/assets/img/sidebar-3.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-holder switch-trigger" href="javascript:void(0)">
                            <img src="~/Content/assets/img/sidebar-4.jpg" alt="">
                        </a>
                    </li>
                    <li class="button-container">
                        <a href="http://material.retek.vn" target="_blank" class="btn btn-rose btn-block btn-fill">Buy Now</a>
                        <a href="http://material.retek.vn/docs/index.html" target="_blank" class="btn btn-default btn-block">
                            Documentation
                        </a>
                        <a href="http://material.retek.vn" target="_blank" class="btn btn-info btn-block">
                            Get Free Demo!
                        </a>
                    </li>


                </ul>
            </div>
        </div>*@
    <input value="@System.Configuration.ConfigurationManager.AppSettings["WebUIUrl"]" type="text" name="WebUIUrl" id="WebUIUrl" hidden="hidden" />
    @RenderSection("scripts", required: false)
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <!-- Plugin for the momentJs  -->
    <script src="~/Content/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Content/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/Content/assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Content/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Content/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/Content/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Content/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Content/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/Content/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/Content/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Content/assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/Content/assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Chartist JS -->
    <script src="~/Content/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/material-dashboard.minf066.js?v=2.1.0" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            $().ready(function () {
                debugger;


                // for set menu class active and manage collapse part
                   var page = "@ViewBag.ActivePage";
                   var identifier = ''; var collapsediv=''
                    if (page.includes("Dashboard")) {
                        identifier = "1";
                    }

                    if (page.includes("Store")) {
                        identifier = "2";
                        collapsediv = 'masterforms'
                       }
                    if (page.includes("Size")) {
                        identifier = "15";
                        collapsediv = 'masterforms'
                    }
                    if (page.includes("Color")) {
                        identifier = "16";
                        collapsediv = 'masterforms'
                    }
                    if (page.includes("Brand")) {
                        identifier = "3";
                        collapsediv = 'masterforms'
                    }
                    if (page.includes("Category")) {
                        identifier = "4";
                        collapsediv = 'masterforms'
                    }
                    if (page.includes("Subcategory")) {
                        identifier = "5";
                        collapsediv = 'masterforms'
                    }
                    if (page.includes("Substitude")) {
                        identifier = "6";
                        collapsediv = 'masterforms'
                    }
                    if (page.includes("Transport")) {
                        identifier = "13";
                        collapsediv = 'masterforms'
                    }

                    if (page.includes("Tax")) {
                        identifier = "7";
                        collapsediv = 'masterforms'
                        }
                        if (page.includes("Supplier")) {
                            identifier = "8";
                            collapsediv = 'masterforms'
                            }
                            if (page.includes("Customer")) {
                                identifier = "19";
                                collapsediv = 'masterforms'
                            }
                       if (page.includes("Salesman")) {
                            identifier = "18";
                            collapsediv = 'masterforms'
                          }

                          if (page.includes("DiscountType")) {
                                identifier = "111";
                              collapsediv = 'CouponExamples'
                            }
                            if (page =="Coupon") {
                                identifier = "112";
                                collapsediv = 'CouponExamples'
                                }
                                if (page == "Offer") {
                                    identifier = "113";
                                    collapsediv = 'CouponExamples'
                                }

                        if (page.includes("Product")) {
                            identifier = "9";
                            collapsediv = 'InvExamples'
                        }
                        if (page.includes("Purchase")) {
                            identifier = "10";
                            collapsediv = 'InvExamples'
                        }
                        if (page.includes("GRN")) {
                            identifier = "14";
                            collapsediv = 'InvExamples'
                        }
                        if (page.includes("Sale")) {
                            identifier = "17";
                            collapsediv = 'InvExamples'
                        }


                        if (page.includes("Role")) {
                            identifier = "11";
                            collapsediv = 'UserExamples'
                        }
                        if (page.includes("User")) {
                            identifier = "12";
                            collapsediv = 'UserExamples'
                            }
                        if (page =="DeliveryPinCode") {
                                identifier = "222";
                                collapsediv = 'UserExamples'
                            }
                       if (page =="CustomerReport") {
                            identifier = "cust";
                            collapsediv = 'ReportExamples'
                        }
                       if (page.includes("Ledger")) {
                            identifier = "ledger";
                           collapsediv = 'ReportExamples'
                        }
                        if (page.includes("qr")) {
                            identifier = "qr";
                            collapsediv = 'ReportExamples'
                        }


                $(".nav li").removeClass("active");
                $(".nav div").removeClass("show");

                $('#' + identifier).addClass('active');
                $('#' + collapsediv).addClass('show');

                //end


                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

            md.initVectorMap();

        });
    </script>
</body>

<!-- /examples/dashboard.html , Tue, 14 May 2019 06:09:50 GMT -->
</html>
