﻿@model Meridukan_WEBUI.Areas.Substitudecategory.Models.SubstitudeCategoryModel

@{
    ViewBag.Title = "Subcategory";
    Layout = null;
}

@Html.HiddenFor(m => m.Id)
<link href="~/Content/assets/css/material-dashboard.minf066.css" rel="stylesheet" />
<div>
    @*<div class="modal-content">*@
    <div class="modal-header">
        <h5 class="modal-title">Add Substitude Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Substitude Category Name <span style="color: red"> *</span></label>
            @Html.TextBoxFor(m => m.Name, new { @maxlength = "50", @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Sub Category <span style="color: red"> *</span></label>
            @Html.DropDownList("SubcategoryId", ViewBag.SubstitudecatList as SelectList, "Select Subcategory", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SubcategoryId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnsave" class="btn btn-success save" style="margin-right:5px;">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
    @*</div>*@
</div>

<script src="~/Content/assets/js/plugins/bootstrap-selectpicker.js"></script>
