﻿@model Meridukan_WEBUI.Areas.DeliveryPinCode.Models.DeliveryPinCodeModel

@{
    ViewBag.Title = "Delivery PinCode";
    Layout = null;
}

@Html.HiddenFor(m => m.Id)
<div>
    @*<div class="modal-content">*@
    <div class="modal-header">
        <h5 class="modal-title">Add Delivery PinCode</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Pin Code <span style="color: red"> *</span></label>            
            @Html.TextBoxFor(m=>m.PostalCode, new { @maxlength = "6", @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            <label>Area <span style="color: red"> *</span> </label>
            @Html.TextBoxFor(m => m.AreaName, new { @maxlength = "50", @class = "form-control", autocomplete = "off" })
        </div>
        <div class="form-group">
            <label>Region </label>
            @Html.TextBoxFor(m => m.Region, new { @maxlength = "50", @class = "form-control", autocomplete = "off" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnsave" class="btn btn-success save" style="margin-right:5px;">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
    @*</div>*@
</div>
