﻿
@{
    ViewBag.Title = "GetDiscountType";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Meridukan_WEBUI.Areas.DiscountType.Models.DiscountTypeModel> typeList = ViewData["GetDiscountTypeList"] as List<Meridukan_WEBUI.Areas.DiscountType.Models.DiscountTypeModel>;
}



<style type="text/css">

    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        /*background: rgba(0,0,0,0.6);*/
    }

    #overlay1 {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        /*background: rgba(0,0,0,0.6);*/
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cv-spinner1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    .spinner1 {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <button class="btn btn-info anchorDetail">Add Discount Type</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Discount Type List</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    @*<th class="disabled-sorting text-right">Actions</th>*@
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in typeList)
                                {
                                    <tr id="type-@item.Id">
                                        <td>@item.Name</td>
                                        @*<td class="text-right">
                                            <a href="javascript:void(0);" class="btn btn-link btn-warning btn-just-icon edit anchorDetail" data-id="@item.Id"><i class="material-icons">edit</i></a>
                                            <a href="javascript:void(0);" class="btn btn-link btn-danger btn-just-icon remove" data-id="@item.Id"><i class="material-icons">delete</i></a>
                                        </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div id="overlay1">
                        <div class="cv-spinner1">
                            <span class="spinner1"></span>
                        </div>
                    </div>

                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts
{

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>

    <script src="~/Content/assets/js/bootstrap-confirm-delete.js"></script>

    <script>

        var SaveURL = $("#WebUIUrl").val() + '/DiscountType/DiscountType/AddOrUpdateDiscountType';
        var DetailURL = $("#WebUIUrl").val() + '/DiscountType/DiscountType/DiscountTypeDetails';
        var DeleteURL = $("#WebUIUrl").val() + '/DiscountType/DiscountType/DeleteDiscountType';

        $(function () {

            $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }
            });

            var table = $('#datatables').DataTable();

            //$(document).ajaxSend(function () {
            //    $("#overlay").fadeIn(300);
            //});

            $(".anchorDetail").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                if (id == undefined)
                    id = 0;
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: DetailURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            $(document).on('click', '#btnsave', function () {

                debugger;
                var Id = $("#Id").val();
                var Name = $("#Name").val();

                if (Name == "") {

                    //document.getElementById('branderror').innerHTML = 'Brand Name is required';
                    $("#Name").after("<div class='validation mb-v' style='color:red;'>Discount Type is required</div>");
                    return;
                }
                else {
                    //document.getElementById('branderror').innerHTML = '';
                    $("#Name").next(".validation").remove();
                }

                $("#overlay").fadeIn(300);

                var Data = {
                    Id: Id,
                    Name: Name,
                };

                $.ajax({
                    type: "POST",
                    url: SaveURL,
                    data: JSON.stringify(Data),
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        if (data == "True") {

                            swal({
                                title: "Saved Successfully !",
                                text: "",
                                timer: 2000,
                                showConfirmButton: false

                            }).then(function (result) {
                                window.location.reload();
                            })
                        }
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                }).done(function () {
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                    }, 500);
                });
            });


            $(".remove").click(function () {
                debugger;

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };

                swal({
                    title: "Are you sure to delete?",
                    // text: "this customer have items in cart, do you want to load it ?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",

                }).then(function (isConfirm) {
                    if (isConfirm.value == true) {

                        debugger;

                        var Data = {
                            Id: id
                        };

                        $("#overlay1").fadeIn(300);

                        $.ajax({
                            type: "POST",
                            url: DeleteURL,
                            data: JSON.stringify(Data),
                            contentType: "application/json; charset=utf-8",
                            datatype: "json",
                            success: function (data) {
                                debugger;
                                if (data == true) {

                                    swal({
                                        title: "Deleted Successfully !",
                                        text: "",
                                        timer: 2000,
                                        showConfirmButton: false

                                    }).then(function (result) {
                                        var row = $("#type-" + id);
                                        $(row).closest("tr").remove();
                                    })
                                }
                            },
                            error: function () {
                                alert("Dynamic content load failed.");
                            }
                        }).done(function () {
                            setTimeout(function () {
                                $("#overlay1").fadeOut(300);
                            }, 500);
                        });


                    } else {

                    }
                });
            });
        });

    </script>

}



