﻿@model Meridukan_WEBUI.Areas.Offer.Models.OfferModel
@{
    ViewBag.Title = "AddOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<link data-semver="0.4.2" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style type="text/css">


    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        /*background: rgba(0,0,0,0.6);*/
    }
    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }    

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">
                            Offer Details
                        </h4>
                    </div>
                    <div class="card-body">

                        @*<form id="frmAddSale" method="post">*@

                        @Html.HiddenFor(model => model.Id)
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Offer</label>
                                    @Html.TextBoxFor(m => m.OfferName, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Expiry Date</label>
                                    @*<input type="text" class="form-control datepicker" value="07/06/2021">*@
                                    @Html.TextBoxFor(m => m.ExpiryDate, new { maxlength = 50, @class = "form-control datepicker", autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <form>
                                <label for="UploadImg" style="cursor:pointer;">Click here to upload your image!</label>
                                <input id="UploadImg" type="file" accept="images/*" style="display:none;" />
                                <img id="imgPreview" height="160" width="240" src="~/Content/assets/img/image_placeholder.jpg" />
                                @Html.HiddenFor(m => m.OfferImagePath)
                            </form>
                        </div>
                        <br />
                        <div id="overlay">
                            <div class="cv-spinner">
                                <span class="spinner"></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <h4 class="card-title">
                            <b>Add Offer Details</b>
                        </h4>

                        <div class="row">
                            <div class="col-md-3">
                                <label class="md-label-floating">Brand</label>
                                @Html.DropDownList("BrandId", ViewBag.BrandList as SelectList, "Select Brand", new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                <label class="md-label-floating">Category</label>
                                @Html.DropDownList("CategoryId", ViewBag.CategoryList as SelectList, "Select Category", new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                <label class="md-label-floating">Discount(in %)</label>
                                <input type="text" class="form-control" value="0" id="discperc" style="text-align:right;" onblur="discchange()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </div>
                            @*<div class="col-md-2">
                                    <label class="md-label-floating">Discount(in Rs.)</label>
                                    <input type="text" class="form-control" value="0" id="discAmt" style="text-align:right;">
                                </div>*@
                            <div class="col-md-2">
                                <button class="btn btn-info offerclick" type="button" style="margin-top:22px;">Add</button>
                            </div>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="display:none">BrandId</th>
                                        <th>Brand</th>
                                        <th style="display:none">CategoryId</th>
                                        <th>Category</th>
                                        <th>Discount(%)</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model.offerDetails)
                                    {
                                        <tr id="offer-@d.CategoryId-@d.BrandId">
                                            <td style="display:none;">@d.BrandId</td>
                                            <td>@d.Brand</td>
                                            <td style="display:none;">@d.CategoryId</td>
                                            <td>@d.Category</td>
                                            <td>@d.DiscountInPerc</td>
                                            <td class="text-right">
                                                <button id="btnEdit + @d.CategoryId" type="button" class="btn btn-link btn-warning btn-just-icon editbtn" data-brandid="@d.BrandId" data-catid="@d.CategoryId" data-disc="@d.DiscountInPerc">
                                                    <span class="material-icons">edit</span>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <br /><br />
                        <button type="button" class="btn btn-fill btn-warning cancel pull-right">Cancel</button>
                        <button type="button" class="btn btn-success pull-right pay" id="btnSubmit" onclick="SaveHandler();">Save</button>
                        <div class="clearfix"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input value="@ViewBag.UserId" type="text" name="UserId" id="UserId" hidden="hidden" />
<input value="@ViewBag.UserName" type="text" name="UserName" id="UserName" hidden="hidden" />

@section scripts
{
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/core/jquery.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script>

        var ImageUploadURL = $("#WebUIUrl").val() + '/Offer/Offer/UploadFile';

        var jsonarr = [];

        $(document).ready(function () {
            // initialise Datetimepicker and Sliders
            md.initFormExtendedDatetimepickers();
            if ($('.slider').length != 0) {
                md.initSliders();
            }

            $('[data-toggle="tooltip"]').tooltip();

            // on edit use this sample code
            if (@Model.offerDetails.Count > 0) {

            var model = @Html.Raw(Json.Encode(Model.offerDetails));

            for (i = 0; i < model.length; i++) {
                var item = {};
                item.BrandId = model[i].BrandId;
                item.CategoryId = model[i].CategoryId;
                item.Discount = model[i].Discount;
                jsonarr.push(item);
             }
            }


            $(document).on('change', '#UploadImg', function () {

                debugger;

                var data = new FormData();
                var files = $("#UploadImg").get(0).files;
                if (files.length > 0) {
                    data.append("MyImages", files[0]);
                }

                $.ajax({
                    url: ImageUploadURL,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        //code after success
                        debugger;
                        $("#OfferImagePath").val('/OfferBanner/' + response);
                        $("#imgPreview").attr('src', '/OfferBanner/' + response);
                    },
                    error: function (er) {
                        alert(er);
                    }

                });
            });

        });

        $(".offerclick").click(function () {
            debugger;

            var brandId = $("#BrandId").val();
            var brand = $("#BrandId :selected").text();

            if (brandId == "") {
                $("#BrandId").after("<div class='validation mb-v' style='color:red;'>please select brand</div>");
                return;
            }
            else {
                $("#BrandId").next(".validation").remove();
            }

            var catId = $("#CategoryId").val();
            var cat = $("#CategoryId :selected").text();

            if (catId == "") {
                //$("#CategoryId").after("<div class='validation mb-v' style='color:red;'>please select category</div>");
                alert("please select category");
                return;
            }
            else {
                //$("#CategoryId").after(".validation").remove();
            }

            var disc = $("#discperc").val();
            if (disc == "") {
                //$("#discperc").after("<div class='validation mb-v' style='color:red;'>please enter discount in %</div>");
                alert("please enter the discount in %");
                return;
            }
            else {
                //$("#discperc").after(".validation").remove();
            }

            var added = false;

            if (jsonarr.length > 0) {
                $.map(jsonarr, function (elementOfArray, indexInArray) {
                    if (elementOfArray.BrandId == brandId && elementOfArray.CategoryId == catId) {
                        alert("Combination Already Exist in list");
                        added = true;
                    }
                });
            }

            if (!added) {

                var item = {};
                item.BrandId = brandId;
                item.CategoryId = catId;
                item.Discount = disc;
                jsonarr.push(item);

                tr = $('<tr id="offer-' + catId + '" />');
                tr.append("<td style='display: none;'>" + brandId + "</td>");
                tr.append("<td>" + brand + "</td>");
                tr.append("<td style='display:none;'>" + catId + "</td>");
                tr.append("<td>" + cat + "</td>");
                tr.append("<td>" + disc + "</td>");
                tr.append("<td class='text-right'><button id='btnEdit'" + catId + "-" + brandId + "' type='button' class='btn btn-link btn-warning btn-just-icon editbtn' data-brandid='" + brandId + "' data-catid='" + catId + "' data-disc='" + disc + "' ><span class='material-icons'>edit</span></button></td>");

                $('#datatables tbody').append(tr);

                $("#BrandId").val("");
                $("#CategoryId").val("");
                $("#discperc").val("");
            }
        });

        $(document).on('click', '.editbtn', function () {

            debugger;

            var $buttonClicked = $(this);
            var catid = $buttonClicked.attr('data-catid');
            var brandid = $buttonClicked.attr('data-brandid');
            var disc = $buttonClicked.attr('data-disc');

            if (jsonarr.length > 0) {
                $.map(jsonarr, function (elementOfArray, indexInArray) {
                    if (elementOfArray.CategoryId == catid && elementOfArray.BrandId == brandid) {
                        $("#BrandId").val(elementOfArray.BrandId);
                        $("#CategoryId").val(elementOfArray.CategoryId);
                        $('#discperc').val(disc);
                    }
                });
            }

            var row = $("#offer-" + catid + "-" + brandid);
            $(row).closest("tr").remove();

            for (var i = 0; i < jsonarr.length; i++) {
                if (jsonarr[i].CategoryId == catid && jsonarr[i].BrandId == brandid) {
                    var deletedItem = jsonarr.splice(i, 1);
                }
            }

        });

         function discchange() {

                 var disc = $("#discperc").val();

                 if (disc > 100) {
                     alert("please enter validate percentage");
                     $("#discperc").val(0);
                     return false;
                }  
            }

        // save offer
        function SaveHandler() {

            debugger;

            $("#overlay").fadeIn(300);

            $("#btnSubmit").attr("disabled", true);

            var offerDetails = new Array();

            $("#datatables tr:not(:first)").each(function () {
                var tds = $(this).find("td");

                var items = {
                              'BrandId': $(tds[0]).html(), 'CategoryId': $(tds[2]).html(), 'DiscountInPerc': $(tds[4]).html()
                        }
                         offerDetails.push(items);
                    });

            var offerData = JSON.stringify({
                "Id": $('#Id').val(),
                "OfferName": $('#OfferName').val(),
                "ExpiryDate": $('#ExpiryDate').val(),
                "OfferImagePath": $('#OfferImagePath').val(),
                "UserId": $('#UserId').val(),
                "UserName": $('#UserName').val(),
                "offerDetails": offerDetails,
            });

            var WebUIUrl = $("#WebUIUrl").val();

            $.ajax({
                    type: "POST",
                    url: WebUIUrl + "/Offer/Offer/Save",
                    data: offerData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    cache: false,
                    success: function (data) {

                              debugger;
                                if (data == true) {
                                    var url = WebUIUrl + "/Offer/Offer/GetOfferList?userId=@ViewBag.UserId&userName=@ViewBag.UserName";
                                    return window.location.href = url;
                                }
                                else {
                                    $("#btnSubmit").attr("disabled", false);
                                }
                            },
                            error: function (errorThrown) {
                                $("#btnSubmit").attr("disabled", false);
                                alert(errorThrown);
                            }
                        });
        }

        $(".cancel").click(function () {

            debugger;
            var url = $("#WebUIUrl").val() + "/Offer/Offer/GetOfferList?userId=@ViewBag.UserId&userName=@ViewBag.UserName";
              return window.location.href = url;
            });
    </script>
}


