﻿@model Meridukan_WEBUI.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = "" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "Login", autocomplete = "off" }))
        {
        <div class="card card-login card-hidden">
            <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Login</h4>
            </div>
            <div class="card-body ">

                <span class="bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">email</i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.UserName, new { placeholder = "Email", @class = "username form-control", autocomplete = "off" })
                    </div>
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger", @style = "margin-left:53px;" })
                </span>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                @*<span class="bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "username form-control", @type = "password", @data_toggle = "password", @maxlength = "16", })
                        <span style="margin-top:28px;" toggle="#Password" class="fa fa-eye-slash field-icon toggle-password"></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @style = "margin-left:53px;" })
                    @Html.ValidationSummary(true, "", new { @style = "color: #a94442;font-weight:600;margin-left:53px;" })
                </span>*@
                <span class="bmd-form-group">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "username form-control", @type = "password", @data_toggle = "password", @maxlength = "16", })
                        <div class="input-group-append">
                            <span class="input-group-text" style="padding: 15px 0px 0;">
                                <span toggle="#Password" class="fa fa-eye-slash field-icon toggle-password"></span>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @style = "margin-left:53px;" })
                    @Html.ValidationSummary(true, "", new { @style = "color: #a94442;font-weight:600;margin-left:53px;" })
                </span>
            </div>
            <div class="card-footer text-right">
                <div class="form-check mr-auto">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" aria-required="true" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe"> Remember me
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <button type="submit" class="btn btn-rose">Login</button>
            </div>
            @*<div class="card-footer justify-content-center">

                <a href="/Identity/Account/Register?returnUrl=%2F">Register as a new user</a>

            </div>*@
        </div>
        }
    </div>
</div>

@section scripts
{
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script type="text/javascript">

        $(function () {

            $(".toggle-password").click(function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        });

    </script>
}