﻿
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Meridukan_WEBUI.Areas.Report.Models.CustomerReportModel> customerList = ViewData["GetCustomerList"] as List<Meridukan_WEBUI.Areas.Report.Models.CustomerReportModel>;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Customer List</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="bmd-label-floating">Contact</label>
                                <input type="text" id="Contact" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <label class="bmd-label-floating"></label>
                                <button class="btn btn-info search" type="button" style="margin-top:25px;">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Email Id</th>
                                    <th>Address</th>
                                    <th>Orders</th>
                                    <th>Total Spend</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in customerList)
                                {
                                    <tr id="cust-@item.CustomerId">
                                        <td>@item.Name</td>
                                        <td>@item.Contact</td>
                                        <td>@item.EmailId</td>
                                        <td>@item.Address</td>
                                        <td>@item.Totalorders</td>
                                        <td>@item.Totalspend</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>

@section scripts
{
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>

        $(function () {        

            md.initFormExtendedDatetimepickers();
            if ($('.slider').length != 0) {
                md.initSliders();
            }

            // date filteration
            $(".search").click(function () {

                debugger;
                var contact = $('#Contact').val();

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("GetCustomerListSearch", "Report")',
                    data: { "Contact": contact },
                    success: function (data) {
                        debugger;
                        $("#datatables").find("tr:not(:first)").remove();
                        for (var i = 0; i < data.length; i++) {

                            $("#datatables").append("<tr id='cust-" + data[i].CustomerId + "'><td>" + data[i].Name + "</td><td>" + data[i].Contact + "</td><td>" + data[i].EmailId + "</td> <td>" + data[i].Address + "</td><td>" + data[i].Totalorders + "</td><td>" + data[i].Totalspend + "</td></tr>");
                        }
                        $('#datatables').DataTable();
                    },
                    error: function (result) {
                        alert("Error");
                    }
                });
            });
        });

    </script>

}