﻿
@{
    ViewBag.Title = "LedgerReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Meridukan_WEBUI.Areas.Report.Models.TransactionReportModel> LedgerList = ViewData["GetLedgerList"] as List<Meridukan_WEBUI.Areas.Report.Models.TransactionReportModel>;
}

<div class="container-fluid">  
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Ledger List</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Reference</th>
                                    <th>Supplier</th>
                                    <th>Customer</th>
                                    <th>GrandTotal</th>                                    
                                </tr>
                            </thead>                            
                            <tbody>

                                @foreach (var item in LedgerList)
                                {
                                <tr id="ledger-@item.TransId">
                                    <td>@string.Format("{0:dd/MM/yyyy}", item.date)</td>
                                    <td>@item.Type</td>
                                    <td>@item.Reference</td>
                                    <td>@item.Supplier</td>
                                    <td>@item.Customer</td>
                                    <td>@item.Amount</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>

