﻿
@{
    ViewBag.Title = "QrGeneration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("QrGeneration", "Report", new { userId = ViewBag.UserId, userName = ViewBag.userName }))
{

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <h4 class="card-title">Generate Qr</h4>
                        </div>
                        
                        <div class="card-body ">
                            @*<form class="form-horizontal">*@
                            <div class="row">
                                <label class="col-md-3 col-form-label">enter text <span style="color: red"> *</span></label>
                                <div class="col-md-9">
                                    <div class="form-group has-default">
                                        <input type="text" name="qrcode" />

                                    </div>
                                </div>
                            </div>
                            @if (ViewBag.QRCodeImage != null)
                            {
                                <div class="row">
                                    <img src="@Url.Content(ViewBag.QRCodeImage)" alt="" style="height:150px;width:150px" />
                                </div>
                            }

                            @if (ViewBag.DecodeQRCodeImage != null)
                            {
                                <div class="row">
                                    <input type="text" name="qrcode" value="@ViewBag.DecodeQRCodeImage" />
                                </div>
                            }

                        </div>
                        <div class="card-footer ">
                            <div class="row">
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

