﻿@model Meridukan_WEBUI.Areas.Supplier.Models.SupplierModel

@{
    ViewBag.Title = "AddSupplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // List<Meridukan_WEBUI.Areas.Supplier.Models.SupplierModel> supplierList = ViewData["GetSupplierList"] as List<Meridukan_WEBUI.Areas.Supplier.Models.SupplierModel>;
}



@using (Html.BeginForm("Save", "Supplier", new { userId = ViewBag.UserId, userName = ViewBag.userName }))
{
    
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <h4 class="card-title">Add Supplier</h4>
                        </div>
                        @Html.HiddenFor(model => model.Id)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="card-body ">
                            @*<form class="form-horizontal">*@
                            <div class="row">
                                <label class="col-md-3 col-form-label">First Name <span style="color: red"> *</span></label>
                                <div class="col-md-9">
                                    <div class="form-group has-default">
                                        @Html.TextBoxFor(m => m.FirstName, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-form-label">Middle Name</label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.MiddleName, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-form-label">Last Name <span style="color: red"> *</span></label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.LastName, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-form-label">Email Id</label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { maxlength = 50, @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-form-label">Phone <span style="color: red"> *</span></label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-form-label">GST</label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.GST, new { @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.GST, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-3 col-form-label">Address</label>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*</form>*@
                        </div>
                        <div class="card-footer ">
                            <div class="row">
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-fill btn-rose">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




